.exch-inplay-events-view .inplay-bg {
  width: 100%;
  height: 100%;
}
.exch-inplay-events-view .inplay-bg.lottie-carousel {
  height: 272px;
}
@media screen and (max-width: 1300px) {
  .exch-inplay-events-view .inplay-bg.lottie-carousel {
    height: 220px;
  }
}
.exch-inplay-events-view .eam-teams-name {
  display: none !important;
}
.exch-inplay-events-view .p-relative {
  position: relative;
}
.exch-inplay-events-view .p-relative .animation-gif {
  position: absolute;
  height: -webkit-fill-available;
  top: 0;
  right: 100px;
}
.exch-inplay-events-view .banner-card-div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  height: 100%;
}
.exch-inplay-events-view .banner-card-div.mob-banners {
  grid-gap: 6px;
  gap: 6px;
  padding: 0 6px 4px;
}
.exch-inplay-events-view .banner-card-div.mob-banners .banner-image {
  flex: 0 0 50%;
}
.exch-inplay-events-view .banner-card-div .animation-gif {
  position: absolute;
  height: inherit;
  top: 0;
  right: 100px;
}
.exch-inplay-events-view .mt-12 {
  margin-top: 12px;
}
.exch-inplay-events-view .exch-inplay-competitions-menu-section,
.exch-inplay-events-view .exch-inplay-events-table-section {
  background: var(--background-ctn-gradient) !important;
  border-radius: 15px;
}
.exch-inplay-events-view .exch-inplay-events-table-section {
  margin: 10px 4px 70px 0;
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view .exch-inplay-events-table-section {
    margin-bottom: -40px;
  }
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px 0;
  max-height: 40px;
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .notifi-live-upcoming-tabs {
    margin-top: 0;
  }
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .time-tabs {
  display: flex;
  flex-direction: row;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .search-tab {
  margin-left: 10px;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .search-tab
  .search-games-ctn {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2px;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .search-tab
  .search-games-ctn
  .MuiSvgIcon-root {
  position: absolute;
  right: 0;
  color: #fff;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .search-tab
  .search-games-input {
  height: unset;
  border: 1px solid var(--ion-color-primary);
  border-radius: 40px;
  background: transparent;
  font-size: 13px;
  padding: 4px 8px;
  color: #fff;
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .notifi-live-upcoming-tabs
    .search-tab
    .search-games-input {
    font-size: 12px;
  }
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .notifi-live-upcoming-tabs
    .search-tab {
    max-width: 40%;
    margin-left: 0;
  }
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .MuiTabs-root {
  max-height: unset;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-bottom: 8px;
  padding-top: 4px;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .animation-notifi {
  background: var(--notification-bg);
  width: 60%;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .animation-notifi
  .notifi-mssage {
  text-wrap: nowrap;
  color: var(--ion-text-notification);
  font-size: 14px;
  font-weight: 600;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .animation-notifi
  .notifi-scroll-icon {
  height: 20px;
  width: 50px;
  margin: 5px;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .marquee-new {
  display: flex;
  align-items: center;
  animation: marquee 20s linear infinite;
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .notifi-live-upcoming-tabs
  .notifi-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: 60px;
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .notifi-live-upcoming-tabs {
    flex-direction: column-reverse;
    max-height: unset;
  }
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .notifi-live-upcoming-tabs
    .animation-notifi {
    margin-bottom: 10px;
    width: 100%;
  }
}
.exch-inplay-events-view .exch-inplay-events-table-section .inplay-status-tabs {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .inplay-status-tabs {
    margin-bottom: 8px;
  }
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .inplay-status-tabs
  .inplay-tab {
  margin-right: 5px;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--tab-passive-text);
  background-color: var(--tab-passive-bg);
  border: 1px solid var(--tab-passive-border);
}
@media screen and (max-width: 720px) {
  .exch-inplay-events-view
    .exch-inplay-events-table-section
    .inplay-status-tabs
    .inplay-tab {
    margin-right: 5px;
  }
}
.exch-inplay-events-view
  .exch-inplay-events-table-section
  .inplay-status-tabs
  .inplay-tab.selected-inplay-tab {
  background: var(--tab-active-bg);
  color: var(--tab-active-text);
  border: 1px solid var(--tab-active-bg);
  font-weight: 900;
  padding: 11px 12px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 920px) {
  .exch-inplay-events-view .exch-inplay-events-table-section {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
.exch-inplay-events-view .exch-inplay-competitions-menu-section {
  max-width: 260px;
  margin-right: 0;
  margin-left: -10px;
}
@media (max-width: 1120px) {
  .exch-inplay-events-view .exch-inplay-competitions-menu-section {
    display: none;
  }
}
.live-events-ctn {
  padding: 0 6px;
}
@media screen and (max-width: 920px) {
  .live-events-ctn {
    padding: 0 8px;
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.inplay-social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.inplay-social-media .sm-new-ctn {
  width: 95%;
  border-radius: 15px;
}
.inplay-social-media .sm-new-ctn .sm-new-links .sm-new-link {
  margin: 0 2px;
}
.cup-winner-markets-ip .eam-ctn {
  padding-bottom: unset;
}
ion-icon {
  color: #fff;
}
.sm-new-ctn {
  background: #071123;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 10px;
}
.sm-new-ctn .sm-new-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 0;
  font-family: Satoshi;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.sm-new-ctn .sm-new-links {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
  gap: 6px;
}
.sm-new-ctn .sm-new-links .sm-new-link {
  margin-bottom: 2px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
.sm-new-ctn .sm-new-links .sm-new-link .sm-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px;
  font-family: Satoshi;
  font-weight: 700;
  letter-spacing: 0.1em;
}
/*# sourceMappingURL=12.e9470a43.chunk.css.map */
