/*! CSS Used from: Embedded */
ion-col,
ion-row {
  visibility: hidden;
}
.hydrated {
  visibility: inherit;
}
/*! CSS Used from: https://www.ultrawin.co.in/static/css/22.6c3dc3f2.chunk.css */
img {
  max-width: 100%;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
input {
  font-family: inherit;
  line-height: normal;
}
input {
  margin: 0;
  font: inherit;
  color: inherit;
}
button,
button span,
input {
  touch-action: manipulation;
}
button {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-style: inherit;
  font-feature-settings: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  -webkit-appearance: button;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/*! CSS Used from: https://www.ultrawin.co.in/static/css/main.2ef452cf.chunk.css */
.tbl-ctn {
  width: 100%;
}
.tbl-ctn .MuiPaper-root {
  margin-top: 8px;
  box-shadow: none;
  border-color: none;
  width: 100%;
  border-radius: 8px 8px 14px 14px;
  background-color: transparent;
}
@media screen and (max-width: 920px) {
  .tbl-ctn .MuiPaper-root {
    border-radius: 10px 10px 10px;
  }
}
.tbl-ctn .MuiPaper-root .MuiTable-root {
  background: none !important;
  border-spacing: 0 2px;
}
.tbl-ctn .MuiPaper-root .MuiTableRow-root {
  border: none;
}
.tbl-ctn .MuiPaper-root .MuiTableHead-root {
  height: 32px;
  background: linear-gradient(90deg, #6800a8, #45006f);
}
.tbl-ctn .MuiPaper-root .MuiTableHead-root .MuiTableRow-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.tbl-ctn
  .MuiPaper-root
  .MuiTableHead-root
  .MuiTableRow-root
  .MuiTableCell-root {
  color: var(--table-headers-light);
  font-family: var(--headers-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  padding: 13px;
  white-space: nowrap;
  border-top: var(--table-head-border);
  border-bottom: var(--table-head-border);
  line-height: 17.55px;
  letter-spacing: 0.02em;
  text-align: left;
}
.tbl-ctn
  .MuiPaper-root
  .MuiTableHead-root
  .MuiTableRow-root
  .MuiTableCell-root:first-child {
  border-left: var(--table-head-border);
}
.tbl-ctn
  .MuiPaper-root
  .MuiTableHead-root
  .MuiTableRow-root
  .MuiTableCell-root
  .MuiIconButton-root {
  opacity: 1;
}
.tbl-ctn
  .MuiPaper-root
  .MuiTableHead-root
  .MuiTableRow-root
  .MuiTableCell-root
  .MuiIconButton-root
  .MuiTableSortLabel-root
  .MuiSvgIcon-root {
  color: #fff !important;
  opacity: 1 !important;
}
.tbl-ctn .MuiPaper-root .MuiTableBody-root .MuiTableCell-body {
  color: var(--ion-text-color-contrast);
  cursor: default;
  white-space: nowrap;
  font-size: 14px;
}
@media screen and (max-width: 1400px) {
  .tbl-ctn .MuiPaper-root .MuiTableBody-root .MuiTableCell-body {
    font-size: 14px;
  }
}
.tbl-ctn .MuiPaper-root .MuiTableBody-root .back-odd-row {
  background-color: var(--back-odd-background);
  border-bottom: 1px solid #fff;
}
.tbl-ctn .MuiPaper-root .MuiTableBody-root .lay-odd-row {
  background-color: var(--lay-odd-background);
  border-bottom: 1px solid #fff;
}
.tbl-ctn .MuiPaper-root .MuiTableBody-root .profit-bet {
  color: var(--ion-color-success) !important;
}
.tbl-ctn .MuiPaper-root .MuiTableBody-root .loss-bet {
  color: var(--ion-color-lost) !important;
}
@media only screen and (max-width: 720px) {
  .tbl-ctn
    .MuiPaper-root
    .MuiTableHead-root
    .MuiTableRow-root
    .MuiTableCell-root {
    font-size: 12px !important;
  }
}
.MuiSelect-root {
  height: 48px;
  box-sizing: border-box;
  border-radius: 6px;
  background: none !important;
}
.reports-ctn {
  border-radius: 4px;
}
.reports-ctn .header-ctn ion-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.reports-ctn .content-ctn {
  border-radius: 6px;
}
.reports-ctn .content-ctn .tbl-ctn {
  border-top: 0;
}
@media screen and (max-width: 768px) {
  .reports-ctn .content-ctn .tbl-ctn {
    border-radius: 10px 10px 10px;
  }
}
.reports-ctn
  .content-ctn
  .tbl-ctn
  .MuiTableContainer-root
  .MuiTable-root
  .MuiTableHead-root {
  background: var(--table-head-bg);
}
.reports-ctn
  .content-ctn
  .tbl-ctn
  .MuiTableContainer-root
  .MuiTable-root
  .MuiTableHead-root
  .MuiTableCell-head {
  color: #fff !important;
  text-transform: uppercase;
  border-top: 1px solid var(--table-head-cell-border) !important;
  border-bottom: 1px solid var(--table-head-cell-border) !important;
  border-left: 1px solid var(--table-head-cell-border) !important;
}
.reports-ctn
  .content-ctn
  .tbl-ctn
  .MuiTableContainer-root
  .MuiTable-root
  .MuiTableHead-root
  .MuiTableCell-head:first-child {
  border-radius: 30px 0 0 30px;
}
.reports-ctn
  .content-ctn
  .tbl-ctn
  .MuiTableContainer-root
  .MuiTable-root
  .MuiTableHead-root
  .MuiTableCell-head:last-child {
  border-radius: 0 30px 30px 0;
  border-right: 1px solid var(--table-head-cell-border) !important;
}
.reports-ctn
  .content-ctn
  .tbl-ctn
  .MuiTableContainer-root
  .MuiTable-root
  .MuiTableBody-root
  .MuiTableRow-root {
  background-color: var(--custom-table-body-row);
  color: var(--custom-table-body-color);
}
.reports-ctn
  .content-ctn
  .tbl-ctn
  .MuiTableContainer-root
  .MuiTable-root
  .MuiTableHead-root
  .MuiTableCell-head {
  color: #fff !important;
  text-transform: uppercase;
  padding: 5px 5px 5px 10px;
}
@media screen and (max-width: 768px) {
  .reports-ctn
    .content-ctn
    .tbl-ctn
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableHead-root
    .MuiTableCell-head:nth-child(2) {
    border-radius: 30px 0 0 30px;
  }
  .reports-ctn
    .content-ctn
    .tbl-ctn
    .MuiTableContainer-root
    .MuiTable-root
    .MuiTableHead-root
    .MuiTableCell-head:nth-child(4) {
    border-radius: 0 30px 30px 0;
  }
}
.reports-ctn .MuiPaper-root .MuiTableBody-root .MuiTableCell-body {
  color: var(--custom-table-body-color);
  font-family: "Lato";
  font-weight: 600 !important;
  font-size: 12px;
  line-height: 16.2px;
  text-align: left;
  border: 1px solid #fff;
  border-right: var(--table-body-border);
}
.reports-ctn .MuiPaper-root .MuiTableBody-root .MuiTableCell-body:first-child {
  border-radius: 30px 0 0 30px;
}
.reports-ctn .MuiPaper-root .MuiTableBody-root .MuiTableCell-body:last-child {
  border-radius: 0 30px 30px 0;
  border-right: 1px solid #fff;
}
@media screen and (max-width: 920px) {
  .reports-ctn .MuiPaper-root .MuiTableBody-root .MuiTableCell-body:last-child {
    border-radius: 0 10px 10px 0;
  }
}
@media only screen and (max-width: 720px) {
  .reports-ctn
    .MuiPaper-root
    .MuiTableBody-root
    .MuiTableCell-body:nth-child(2) {
    border-radius: 30px 0 0 30px;
  }
  .reports-ctn
    .MuiPaper-root
    .MuiTableBody-root
    .MuiTableCell-body:nth-child(4) {
    border-radius: 0 30px 30px 0;
  }
}
@media only screen and (max-width: 720px) {
  .reports-ctn {
    margin: 10px 0 !important;
  }
  .reports-ctn .content-ctn,
  .reports-ctn .header-ctn {
    padding: 0;
  }
  .reports-ctn .header-ctn {
    padding-left: 0;
    padding-right: 0;
  }
  .reports-ctn .tbl-ctn .MuiTableContainer-root .MuiTable-root {
    background: var(--webkit-gradient-background-1);
    background: var(--linear-gradient-background-1);
  }
  .reports-ctn .mob-fs-13 {
    font-size: 13px;
  }
  .reports-ctn .mob-fs-13,
  .reports-ctn .mob-fs-14 {
    font-weight: 700 !important;
    text-transform: capitalize;
  }
  .reports-ctn .mob-fs-14 {
    font-size: 14px;
  }
}
.tbl-ctn .MuiPaper-root {
  border-radius: 8px 8px 0 0;
}
.tbl-ctn .MuiTable-root {
  border-collapse: separate;
}
div,
span {
  font-family: "Lato" !important;
  font-weight: 500;
}
.MuiInputBase-root {
  color: var(--input-text-color) !important;
  font-family: "Lato";
  font-size: 14px;
  height: 38px;
  padding: 5px;
}
.MuiInputBase-root .MuiInputBase-input {
  font-size: 16px;
  font-family: "Lato";
  padding: 14px 16px;
}
.MuiInputBase-root .MuiSvgIcon-root {
  color: var(--input-text-color);
}
.MuiTabs-indicator {
  display: none;
}
@media screen and (max-width: 720px) {
  .web-view {
    display: none !important;
  }
}
@media (min-width: 721px) {
  .mob-view {
    display: none !important;
  }
}
.MuiPaper-root {
  background: none !important;
}
button:disabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important;
  pointer-events: all !important;
}
/*! CSS Used from: https://www.ultrawin.co.in/static/css/26.2768a9c1.chunk.css */
.report-header {
  width: 100%;
  background-color: var(--reports-header-bg-color);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  font-family: "Lato";
}
.report-header .report-img-title {
  justify-content: space-between;
  height: 32px;
  display: flex;
  align-items: center;
  background: var(--reports-subheader-bg-color);
  border: 1px solid var(--reports-header-border);
  border-radius: 25px;
}
.report-header .report-img-title .tab-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.report-header .report-img-div-title {
  display: flex;
  align-items: center;
}
.report-header .report-img-div-title .report-img-div {
  background-color: var(--reports-header-icon-bg-color);
  height: 20px;
  width: 20px;
  margin: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report-header .report-img-div-title .report-img-div .report-img {
  height: 12px;
  width: 12px;
  -webkit-filter: var(--reports-header-icon-color);
  filter: var(--reports-header-icon-color);
}
.report-header .report-img-div-title .report-title {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: var(--headers-font-family);
  font-weight: 900;
  margin-left: 5px;
}
@media screen and (max-width: 720px) {
  .report-header .report-img-div-title .report-title {
    font-size: 12px;
  }
}
.report-header .report-filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1120px) {
  .report-header .report-filters {
    flex-direction: column;
  }
  .report-header .report-filters .date-template,
  .report-header .report-filters .select-template {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .report-header .report-filters .select-template .MuiInputBase-root {
    margin: 5px 0;
  }
  .report-header .report-filters .date-template .MuiFormControl-marginNormal {
    margin: 4px 5px;
  }
  .report-header .report-filters .two-filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
  .report-header .report-filters .two-filters .select-template {
    width: 49%;
  }
  .report-header
    .report-filters
    .two-filters
    .select-template
    .MuiInputBase-root {
    width: 100%;
  }
  .report-header .report-filters .two-filters .date-template {
    width: 50%;
  }
  .report-header .report-filters .two-filters .date-template .dt-label {
    margin-left: 10px;
    font-family: var(--headers-font-family) !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    text-align: center;
  }
  .report-header
    .report-filters
    .two-filters
    .date-template
    .MuiFormControl-root {
    width: 100%;
  }
  .report-header
    .report-filters
    .two-filters
    .date-template
    .MuiFormControl-root
    .MuiInputBase-root {
    width: 95%;
  }
}
@media screen and (max-width: 1120px) {
  .rh-web-view {
    display: none !important;
  }
}
@media screen and (min-width: 1120px) {
  .rh-mob-view {
    display: none !important;
  }
}
/*! CSS Used from: Embedded */
.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}
.MuiPaper-rounded {
  border-radius: 4px;
}
.MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
/*! CSS Used from: Embedded */
.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}
/*! CSS Used from: Embedded */
.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}
/*! CSS Used from: Embedded */
.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
@media (hover: none) {
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
/*! CSS Used from: Embedded */
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
/*! CSS Used from: Embedded */
.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}
@media (hover: none) {
  .MuiButton-root:hover {
    background-color: transparent;
  }
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
}
/*! CSS Used from: Embedded */
.jss15 {
  width: 100%;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.jss17 {
  background-color: #f50057;
}
/*! CSS Used from: Embedded */
.MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
}
.MuiTabs-flexContainer {
  display: flex;
}
.MuiTabs-scroller {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.MuiTabs-scrollable {
  overflow-x: scroll;
  scrollbar-width: none;
}
.MuiTabs-scrollable::-webkit-scrollbar {
  display: none;
}
/*! CSS Used from: Embedded */
.MuiTable-root {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}
/*! CSS Used from: Embedded */
.MuiTableBody-root {
  display: table-row-group;
}
/*! CSS Used from: Embedded */
.MuiTableCell-root {
  display: table-cell;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.MuiTableCell-head {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  line-height: 1.5rem;
}
.MuiTableCell-body {
  color: rgba(0, 0, 0, 0.87);
}
.MuiTableCell-alignLeft {
  text-align: left;
}
.MuiTableCell-alignRight {
  text-align: right;
  flex-direction: row-reverse;
}
/*! CSS Used from: Embedded */
.MuiTableContainer-root {
  width: 100%;
  overflow-x: auto;
}
/*! CSS Used from: Embedded */
.MuiTableHead-root {
  display: table-header-group;
}
/*! CSS Used from: Embedded */
.MuiTableRow-root {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
/*! CSS Used from: Embedded */
.MuiTableSortLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-direction: inherit;
  justify-content: flex-start;
}
.MuiTableSortLabel-root:focus {
  color: rgba(0, 0, 0, 0.54);
}
.MuiTableSortLabel-root:hover {
  color: rgba(0, 0, 0, 0.54);
}
.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: rgba(0, 0, 0, 0.87);
}
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
  .MuiTableSortLabel-icon {
  color: rgba(0, 0, 0, 0.54);
  opacity: 1;
}
.MuiTableSortLabel-root:hover .MuiTableSortLabel-icon {
  opacity: 0.5;
}
.MuiTableSortLabel-icon {
  opacity: 0;
  font-size: 18px;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-left: 4px;
  user-select: none;
  margin-right: 4px;
}
.MuiTableSortLabel-iconDirectionDesc {
  transform: rotate(0deg);
}
/*! CSS Used from: Embedded */
.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}
.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.MuiInputBase-input:focus {
  outline: 0;
}
.MuiInputBase-input:invalid {
  box-shadow: none;
}
/*! CSS Used from: Embedded */
.MuiInput-root {
  position: relative;
}
.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #3f51b5;
  pointer-events: none;
}
.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}
@media (hover: none) {
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
}
/*! CSS Used from: Embedded */
.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}
.MuiFormControl-marginNormal {
  margin-top: 16px;
  margin-bottom: 8px;
}
/*! CSS Used from: Embedded */
.MuiSelect-select {
  cursor: pointer;
  min-width: 16px;
  user-select: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.MuiSelect-select:focus {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
}
.MuiSelect-selectMenu {
  height: auto;
  overflow: hidden;
  min-height: 1.1876em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.MuiSelect-icon {
  top: calc(50% - 12px);
  color: rgba(0, 0, 0, 0.54);
  right: 0;
  position: absolute;
  pointer-events: none;
}
.MuiSelect-nativeInput {
  left: 0;
  width: 100%;
  bottom: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
/*! CSS Used from: Embedded */
.MuiInputAdornment-root {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
  white-space: nowrap;
}
.MuiInputAdornment-positionEnd {
  margin-left: 8px;
}

.mct-ctn .mct .mct-h {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  background: var(--head-bg);
  border-radius: 20px;
  border: 1px solid var(--table-head-cell-border);
  overflow: hidden;
  margin: 4px 0;
}
.mct-ctn .mct .mct-h .mct-h-c {
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border-left: 1px solid var(--table-head-cell-border);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mct-ctn .mct .mct-h :first-child {
  border-radius: 20px 0 0 20px;
}
.mct-ctn .mct .mct-h :last-child {
  border-radius: 0 20px 20px 0;
}
.mct-ctn .mct .mct-b .mct-b-r {
  background-color: var(--custom-table-body-row);
  color: var(--custom-table-body-color);
  overflow: hidden;
  border-radius: 15px;
  margin: 2px 0;
  border: 1px solid;
}
.mct-ctn .mct .mct-b .mct-b-r .mct-b-sr1 {
  display: flex;
  height: 50%;
}
.mct-ctn .mct .mct-b .mct-b-r .mct-b-sr1 .mct-b-c {
  border: 1px solid var(--custom-table-body-border);
  font-size: 12px;
  text-align: center;
}
.date-template {
  display: flex;
  align-items: center;
}
.date-template .date-picker-keyboard-icon {
  margin-right: 5px;
}
.date-template .dt-label {
  text-transform: capitalize;
  color: var(--reports-header-color) !important;
  font-family: var(--headers-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
}
.date-template .MuiFormControl-marginNormal {
  margin: 10px;
}
.date-template .MuiInput-root {
  border: 1px solid var(--reports-header-color);
  color: var(--reports-header-color) !important;
  border-radius: 20px;
  width: 155px;
  height: 30px;
}
@media screen and (max-width: 720px) {
  .date-template .MuiInput-root {
    height: 28px;
  }
}
.date-template .MuiInput-root .MuiInputBase-input {
  padding: 11px 5px;
  font-family: var(--headers-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.2px;
}
.date-template .MuiInput-root .MuiIconButton-root {
  padding: 3px;
}
.select-template {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-template .st-label {
  text-wrap: nowrap;
  color: var(--reports-header-color);
  font-family: var(--headers-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .select-template .st-label {
    font-family: var(--headers-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    text-align: left;
    padding-left: 5px;
  }
}
.select-template .MuiInputBase-root {
  width: 155px;
  height: 30px;
  border: 1px solid var(--reports-header-color);
  border-radius: 20px;
  margin: 10px;
}
.select-template .MuiInputBase-root .MuiSelect-root {
  color: var(--reports-header-color);
  font-family: var(--headers-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.2px;
}
.select-template .MuiInputBase-root .MuiSvgIcon-root {
  color: #000;
}
.select-template .MuiInput-underline:after,
.select-template .MuiInput-underline:before {
  border-bottom: 0;
}
.select-template .MuiInput-underline:hover {
  border-bottom: 2px solid var(--reports-header-color);
}
.select-template .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}
.txt-bldin-mob {
  font-weight: 900 !important;
}
.date-picker-keyboard-icon {
  margin-right: 5px;
}
.reports-ctn {
  margin: 0 !important;
  padding: 0 !important;
}
.my-bets-ctn-col {
  padding: 0;
}
.MuiTableCell-root {
  padding: 10px;
}
.sports-filters-row-ctn {
  width: 100%;
}
.sports-filters-row-ctn .sports-filters-row {
  display: flex;
  justify-content: flex-start;
  padding: 6px 6px 0;
  margin-right: 40px;
}
.sports-filters-row-ctn .sports-filters-row .primary {
  color: #000;
  border-color: #fff;
  background: var(--ion-color-primary);
}
.sports-filters-row-ctn .sports-filters-row .secondary {
  color: #fff;
  border-color: #fff;
}
.sports-filters-row-ctn .sports-filters-row .MuiButtonBase-root {
  padding: 7px;
  width: 92px;
  margin-right: 20px;
  border-radius: 20px;
}
.sports-filters-row-ctn .sports-filters-row .MuiButtonBase-root:last-child {
  margin-right: 0;
}
.sports-filters-row-ctn
  .sports-filters-row
  .MuiButtonBase-root
  .MuiButton-label {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}
@media screen and (max-width: 720px) {
  .sports-filters-row-ctn .sports-filters-row .MuiButtonBase-root {
    width: 24%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 7px;
    margin: 5px 10px 5px 0;
  }
}
@media screen and (max-width: 720px) {
  .sports-filters-row-ctn .sports-filters-row {
    width: 100%;
    justify-content: space-between;
  }
}
.my-bets-page {
  border-radius: 13px;
  margin: 12px 24px;
  min-height: 85vh;
  padding: 16px 12px;
  background: var(--background-ctn-gradient);
}
@media screen and (max-width: 720px) {
  .my-bets-page {
    background: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0 8px;
  }
}
.my-bets-page .MuiIconButton-root {
  padding: 0 !important;
}
.my-bets-ctn .my-bets-content {
  background-color: transparent !important;
}
.my-bets-ctn .myb-table-cell.td-match .event-link {
  white-space: pre-wrap;
}
.my-bets-ctn .td-bet-on {
  white-space: pre-wrap !important;
}
.my-bets-ctn .myb-table-row .MuiTableCell-body {
  cursor: default;
  border: 1px solid #e0e0e0;
}
.my-bets-ctn .myb-table-row .MuiTableCell-body .event-link {
  cursor: pointer;
}
@media (min-width: 721px) {
  .my-bets-ctn .MuiTableCell-head {
    padding: 6px !important;
  }
  .my-bets-ctn .mob-view {
    display: none;
  }
  .my-bets-ctn .web-view {
    display: inline;
    display: initial;
  }
}
@media only screen and (max-width: 768px) {
  .myb-bets-div .tbl-ctn .MuiTableCell-root {
    padding: 14px;
  }
  .my-bets-ctn {
    margin-top: 0 !important;
  }
  .my-bets-ctn .web-view {
    display: none;
  }
  .my-bets-ctn .header-ctn {
    padding-bottom: 0;
    margin-top: 0 !important;
  }
  .my-bets-ctn .myb-bets-div .tbl-ctn .MuiTableCell-root {
    padding: 4px 10px;
  }
  .my-bets-ctn .myb-bets-div .tbl-ctn .MuiTableCell-root:nth-child(2) {
    border-radius: 10px 0 0 10px;
  }
  .my-bets-ctn .tbl-ctn .MuiPaper-root {
    margin-top: 0;
  }
  .my-bets-ctn .th-match {
    border-top-left-radius: 15px;
    border-top-left-radius: var(--table-head-border-radius);
    border-bottom-left-radius: 15px;
    border-bottom-left-radius: var(--table-head-border-radius);
  }
  .my-bets-ctn .th-returns {
    border-top-right-radius: 15px;
    border-top-right-radius: var(--table-head-border-radius);
    border-bottom-right-radius: 15px;
    border-bottom-right-radius: var(--table-head-border-radius);
  }
  .my-bets-ctn .my-bets-tbl .td-bet-on,
  .my-bets-ctn .my-bets-tbl .td-date,
  .my-bets-ctn .my-bets-tbl .td-market,
  .my-bets-ctn .my-bets-tbl .td-outcome,
  .my-bets-ctn .my-bets-tbl .th-bet-on,
  .my-bets-ctn .my-bets-tbl .th-date,
  .my-bets-ctn .my-bets-tbl .th-market {
    display: none;
  }
  .my-bets-ctn .my-bets-tbl .td-odd,
  .my-bets-ctn .my-bets-tbl .td-stake {
    text-align: center;
  }
  .my-bets-ctn .my-bets-tbl .col-data-header {
    font-weight: 600;
    font-family: "Lato";
    font-size: 13px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .my-bets-ctn .my-bets-tbl .col-data-desc {
    font-size: 11px;
    opacity: 0.8;
    padding-top: 4px;
  }
}
@media screen and (max-width: 720px) {
  .mb-result {
    display: none !important;
  }
}
.my-bets-page .mb-event-name-date {
  padding: 5px;
}
.my-bets-page .profit-bet {
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #2c8900;
}
.my-bets-page .loss-bet {
  color: #c10909;
}
.my-bets-page .loss-bet,
.my-bets-page .none-bet {
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
}
.my-bets-page .mb-amount-odd {
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}
.my-bets-page .b-400,
.my-bets-page .mb-bet-date {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-bets-page .b-400,
.my-bets-page .b-500 {
  padding-left: 5px;
  text-transform: capitalize;
}
.my-bets-page .b-500 {
  font-size: 12px;
  font-weight: 600;
  text-wrap: nowrap;
}
.my-bets-page .b-700 {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-bets-page .display-flex {
  display: flex;
}
.my-bets-page .mb-profit-amount {
  border: 4px solid #b2d9ff !important;
}
.my-bets-page .mb-loss-amount {
  border: 4px solid #ffc3dc !important;
}
