.marquee {
  height: 34px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    90.01deg,
    var(--notification-background-col) 1.44%,
    var(--notification-background-col) 113.19%
  );
  color: var(--ion-text-color);
  font-weight: 700;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #222;
}
.marquee.disclaimer {
  background: var(--footer-ctn-background);
  height: 20px !important;
  color: var(--ion-text-light);
  position: relative;
}
.marquee.disclaimer .close-btn {
  position: absolute;
  right: 20px;
  line-height: 21px;
  cursor: pointer;
}
.marquee.disclaimer .close-btn svg {
  height: 11px;
}
@media screen and (max-width: 920px) {
  .marquee.disclaimer .close-btn {
    right: 10px;
  }
}
@media only screen and (max-width: 720px) {
  .marquee.disclaimer .close-btn {
    line-height: 21px;
  }
}
.marquee.disclaimer .info {
  background: var(--footer-ctn-background);
  border: 0;
  height: 21px;
  font-size: 6px;
  padding: 0 24px;
  box-shadow: 2px 0 4px rgba(255, 167, 36, 0.3);
}
@media screen and (max-width: 920px) {
  .marquee.disclaimer .info {
    padding: 0 6px;
    height: 21px;
    font-size: 6px;
  }
}
.marquee.disclaimer .info img {
  padding-right: 4px;
  height: 7px;
}
.marquee.disclaimer span {
  line-height: 21px;
  font-size: 6px;
}
@media only screen and (max-width: 720px) {
  .marquee.disclaimer span {
    font-size: 6px;
    line-height: 21px;
  }
}
.marquee .info {
  font-size: 14px;
  background: var(--linear-color-change);
  position: absolute;
  z-index: 999;
  height: 100%;
  line-height: 44px;
  border: 1px solid hsla(0, 0%, 81.2%, 0.8);
  padding-left: 2px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--ion-text-light);
}
@media screen and (max-width: 920px) {
  .marquee .info {
    padding-right: 1px;
  }
}
.marquee .view-all {
  font-size: 14px;
  background: #efefef;
  z-index: 9999;
  line-height: 44px;
  border: 1px solid hsla(0, 0%, 81.2%, 0.8);
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  right: 0;
}
.marquee .view-all,
.marquee span {
  position: absolute;
  height: 100%;
  cursor: pointer;
}
.marquee span {
  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: var(--ion-text-light);
  white-space: pre;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  transform: translateX(100%);
  animation: scroll-left 34s linear infinite;
}
.marquee span:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 720px) {
  .marquee {
    height: 24px;
    font-size: 19px;
  }
  .marquee .info,
  .marquee .view-all {
    font-size: 12px;
  }
  .marquee .info svg,
  .marquee .view-all svg {
    height: 18px;
  }
  .marquee span {
    line-height: 24px;
    font-size: 12px;
  }
}
.admin-notification-modal .MuiDialog-paperWidthXs {
  max-width: 60%;
}
.stl-dialog-title {
  height: unset !important;
}
.stl-dialog-title .notification-title {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 920px) {
  .stl-dialog-title .notification-title {
    font-size: 17px;
  }
}
.stl-dialog-title .modal-title .mic-icon {
  vertical-align: middle;
}
.stl-dialog-title .title-close-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stl-dialog-title .MuiIconButton-root {
  padding: 0;
}
.stl-dialog-title .close-icon {
  padding: 5px;
  color: #fff;
  background-color: #757575;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.MuiDialog-root .MuiDialog-container .MuiDialog-paper .MuiDialogContent-root {
  padding: 0 !important;
}
.ion-app {
  display: flex;
  flex-direction: row;
  background-color: var(--ion-background-color);
}
.ion-app .support {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  width: 100%;
}
.rules-regulations-footer {
  width: 90%;
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  color: var(--active-footer-color);
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
@media screen and (max-width: 720px) {
  .rules-regulations-footer {
    width: 100%;
    position: static;
  }
}
.mob-header {
  display: none;
}
@media (max-width: 1120px) {
  .web-header {
    display: none;
  }
  .mob-header {
    display: block;
    background: var(--ion-background-color);
  }
}
.home-page-ctn,
.home-page-ctn .leaderboard-paper {
  color: #fff;
}
.home-page-ctn .leaderboard-paper .MuiTypography-root {
  border-bottom: 1px solid hsla(0, 0%, 56.1%, 0.3);
}
.carousel-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel .control-dots {
  display: none;
}
.section-paper {
  padding: 16px;
  text-align: center;
}
.carousel .slide img {
  width: 100%;
}
.carousel.carousel-slider .control-arrow,
.carousel .control-arrow {
  opacity: 0.7;
}
.leaderboard-paper {
  padding: 16px;
  text-align: center;
}
.live-casino img {
  width: 100%;
  height: auto;
}
.deposit-button {
  margin-top: 20px;
}
.payment-options,
.providers {
  width: 100%;
  height: auto;
}
.footer {
  margin-top: 40px;
  text-align: center;
}
.site-card-content {
  font-weight: 400;
  color: #97a5a5;
  font-size: 14px;
  margin-top: 8px;
}
.site-card-img {
  width: 100%;
}
.site-card-img svg {
  border-radius: 20px;
}
@media screen and (max-width: 920px) {
  .site-card-img svg {
    border-radius: 12px;
  }
}
.site-card-img img {
  width: 100%;
}
.home-container {
  margin: 0 24px;
}
@media screen and (max-width: 920px) {
  .home-container {
    margin: 0 10px;
  }
}
.deposit-info-ctn {
  background: var(--deposit_web_banner) no-repeat 50%;
  background-size: 100% 100%;
  display: flex;
  border-radius: 12px;
  flex-direction: row;
  background-color: transparent;
}
@media screen and (max-width: 920px) {
  .deposit-info-ctn {
    background: var(--deposit_mob_banner) no-repeat 50%;
    background-size: 100% 100%;
  }
}
.deposit-info-ctn .deposit-info-text {
  flex: 1 1 50%;
  padding: 40px 2px 40px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 12px 12px 0;
}
.deposit-info-ctn .deposit-info-text .get-started {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 24px;
}
.deposit-info-ctn .deposit-info-text .get-started span {
  color: #fdc667;
  font-weight: 700;
}
.deposit-info-ctn .deposit-info-text .deposit-btn {
  width: 134px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  background: var(--bet-slip-btn);
  text-transform: capitalize;
  border-radius: 40px;
}
.deposit-info-ctn .deposit-info-text .deposit-btn .MuiButton-label {
  font-weight: 700;
}
.deposit-info-ctn .payment-providers {
  display: flex;
  padding: 40px 30px 0;
}
.deposit-info-ctn .payment-providers-tabs {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
@media (max-width: 920px) {
  .deposit-info-ctn {
    flex-direction: column;
    border-radius: 12px;
  }
  .deposit-info-ctn .deposit-info-text {
    flex: 1 1 100%;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    align-items: center;
    text-align: center;
  }
  .deposit-info-ctn .deposit-info-text .get-started {
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  .deposit-info-ctn .deposit-info-text .deposit-btn {
    width: 120px;
    height: 36px;
    font-size: 16px;
  }
  .deposit-info-ctn .deposit-info-text .deposit-btn .MuiButton-label {
    font-weight: 700;
  }
  .deposit-info-ctn .payment-providers {
    padding: 14px 20px;
    display: flex;
    justify-content: center;
  }
  .deposit-info-ctn .payment-providers img {
    width: 64px;
  }
  .deposit-info-ctn .payment-providers-tabs img {
    width: 52px;
  }
}
.leaderboard-img {
  border-radius: 12px;
}
.leaderboard-img img {
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
}
.leaderboard-ctn {
  display: flex;
  position: relative;
}
.leaderboard-ctn img {
  border-radius: 12px;
}
.leaderboard-ctn img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.leaderboard-ctn .scrollable-box-avatars {
  background-color: var(--scrollable-box);
}
@media screen and (max-width: 920px) {
  .leaderboard-ctn .MuiBox-root {
    grid-gap: 8px;
    gap: 8px;
  }
}
.providers-ctn {
  background: var(--provider-banner) 50% no-repeat;
  background-size: cover;
  margin-top: 20px;
}
@media screen and (max-width: 920px) {
  .providers-ctn {
    margin-top: 12px;
  }
}
.providers-ctn .trusted-by-providers {
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  padding-top: 22px;
  color: hsla(0, 0%, 100%, 0.5);
}
@media screen and (max-width: 920px) {
  .providers-ctn .trusted-by-providers {
    padding-top: 12px;
    font-size: 10px;
    line-height: 16px;
  }
}
.providers-ctn .slick-slider {
  padding-top: 20px;
  padding-bottom: 70px;
}
@media screen and (max-width: 920px) {
  .providers-ctn .slick-slider {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
.providers-ctn .slick-dots {
  bottom: 35px;
}
.providers-ctn .slick-dots li {
  margin: 0;
}
.providers-ctn .slick-dots li button:before {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 8px;
}
.providers-ctn .slick-dots li.slick-active button:before {
  color: #fff;
}
@media screen and (max-width: 920px) {
  .providers-ctn .slick-dots {
    bottom: 8px;
  }
  .providers-ctn .slick-dots li {
    height: 16px;
    width: 16px;
    margin: 0;
  }
}
.providers-ctn .csb-indv-provider {
  background: transparent !important;
  max-width: 170px;
  width: 80% !important;
  max-height: 50px;
  min-height: 50px;
}
.home-casino-img {
  width: 92%;
  border-radius: 12px;
}
.home-footer {
  background: url(/static/media/HomeFooterBg.38a7a181.webp) 50% no-repeat;
  background-size: cover;
}
.home-footer .home-footer-heading {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding-bottom: 40px;
}
.home-footer .MuiLink-root {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  display: block;
}
.home-footer .footer-divider {
  background: rgba(127, 127, 128, 0.5);
  margin-top: 2rem;
}
.home-footer .pb-16 {
  padding-bottom: 22px;
}
@media screen and (max-width: 920px) {
  .home-footer .home-footer-heading {
    font-size: 18px;
    padding-bottom: 12px;
  }
  .home-footer .text-center {
    text-align: center;
  }
  .home-footer .MuiLink-root {
    font-size: 16px;
  }
  .home-footer .pb-16 {
    padding-bottom: 16px;
  }
}
.game-carousel-ctn {
  margin-top: 24px;
}
.game-carousel-ctn .slick-prev {
  left: unset !important;
  top: -35px !important;
  right: 55px !important;
}
@media screen and (max-width: 920px) {
  .game-carousel-ctn .slick-prev {
    right: 30px !important;
    top: -30px !important;
  }
}
.game-carousel-ctn .slick-next {
  right: 0 !important;
  top: -35px !important;
}
@media screen and (max-width: 920px) {
  .game-carousel-ctn .slick-next {
    top: -30px !important;
  }
}
.game-carousel-ctn .slick-next,
.game-carousel-ctn .slick-prev {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background: #212e44;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-carousel-ctn .slick-next .MuiSvgIcon-root,
.game-carousel-ctn .slick-prev .MuiSvgIcon-root {
  height: 12px;
}
.game-carousel-ctn .slick-next:before,
.game-carousel-ctn .slick-prev:before {
  display: none;
  color: #fff;
}
@media screen and (max-width: 920px) {
  .game-carousel-ctn .slick-next,
  .game-carousel-ctn .slick-prev {
    height: 26px;
    width: 26px;
  }
}
@media screen and (max-width: 920px) {
  .game-carousel-ctn {
    margin-top: 10px;
  }
}
.border-shadow-container {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 22px;
  width: 100%;
}
.border-shadow-container .text {
  position: relative;
  z-index: 1;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}
.border-shadow-container .text .games-text {
  font-family: Satoshi;
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  line-height: 37.8px;
  text-align: left;
  color: hsla(0, 0%, 100%, 0.6);
}
@media screen and (max-width: 920px) {
  .border-shadow-container {
    margin-bottom: 16px;
  }
  .border-shadow-container .text,
  .border-shadow-container .text .games-text {
    font-size: 20px;
    line-height: 24px;
  }
}
.border-shadow-container:after {
  bottom: -10px;
  width: 100%;
  height: 1px;
  opacity: 0.6;
}
.border-shadow-container:after,
.border-shadow-container:before {
  content: "";
  position: absolute;
  left: 0;
  background: var(--bet-slip-btn);
  z-index: 0;
}
.border-shadow-container:before {
  bottom: -10.7px;
  width: 44px;
  height: 2px;
  box-shadow: 0 0 0 1px var(--bet-slip-btn);
  border-radius: 4px;
}
.site-info-grid {
  display: flex;
  margin-top: 20px;
  grid-gap: 15px;
  gap: 15px;
}
.site-info-grid .site-info-card {
  width: 25%;
  cursor: pointer;
}
.site-info-grid .site-info-card .MuiCard-root {
  box-shadow: none;
}
.site-info-grid .site-info-card .MuiCardContent-root {
  padding: 10px 13px;
}
.site-info-grid .site-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
@media screen and (max-width: 920px) {
  .site-info-grid {
    flex-wrap: wrap;
    grid-gap: 10px;
    gap: 10px;
  }
  .site-info-grid .site-info-card {
    flex: 1 1 40%;
  }
  .site-info-grid .site-card-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
}
.home-banner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 20px;
  gap: 20px;
  padding: 16px 0 32px;
}
.home-banner-container .carousel-container {
  flex: 1 1 60%;
}
.home-banner-container .banners {
  display: flex;
  width: 35%;
  flex-direction: column;
  grid-gap: 12px;
  gap: 12px;
}
.home-banner-container .banner {
  position: relative;
  text-align: center;
}
.home-banner-container .banner img {
  width: 100%;
  height: auto;
}
.home-banner-container .explore-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media (max-width: 920px) {
  .home-banner-container {
    grid-gap: 8px;
    gap: 8px;
    padding: 12px 0;
  }
  .home-banner-container .carousel-container {
    flex: 1 1 100%;
    order: 1;
  }
  .home-banner-container .banners {
    flex: 1 1 100%;
    flex-direction: row;
    order: 2;
    grid-gap: 8px;
    gap: 8px;
  }
  .home-banner-container .banner {
    margin: 5px 0;
    width: 50%;
  }
}
.banner-container {
  background: none;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 6px;
  gap: 6px;
  align-items: center;
  overflow: hidden;
  font-family: var(--headers-font-family);
  cursor: default;
  padding: 12px 0 0;
}
@media screen and (max-width: 920px) {
  .banner-container {
    grid-template-columns: none;
    padding: 12px 0 0;
  }
  .banner-container.pb-0 {
    padding-bottom: 0;
  }
}
.banner-container .banner-cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 6px;
  gap: 6px;
  height: 100%;
}
.banner-container .banner-cards .banner-image {
  border-radius: 10px;
  cursor: pointer;
}
.banner-container .banner-cards .banner-image svg {
  border-radius: 10px;
}
@media screen and (max-width: 920px) {
  .banner-container .banner-cards .banner-image svg {
    border-radius: 8px;
  }
}
@media screen and (max-width: 920px) {
  .banner-container .banner-cards {
    grid-gap: 6px;
    gap: 6px;
  }
}
.banner-container.mt-14 {
  margin-top: 14px;
}
@media screen and (min-width: 920px) {
  .banner-container.mt-14 {
    margin-top: 0;
  }
}
.banner-container .banner-image {
  width: inherit;
  height: 100%;
}
.banner-container .banner-image svg {
  border-radius: 10px;
}
@media screen and (max-width: 920px) {
  .banner-container .banner-image svg {
    border-radius: 8px;
  }
}
.banner-container .sport-image {
  height: 140px;
  margin-left: 5%;
}
.banner-container .sport-image.inplay-image {
  height: 80px;
}
.banner-container .eventType-name {
  font-family: var(--headers-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 82px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #f8f8f8;
  margin-left: 12%;
  margin-right: 22%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner-container .eventType-name .inplay-live-icon {
  height: 58px;
  width: 58px;
  margin-right: 21px;
  margin-top: -8px;
}
.rbb-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
  padding-top: 8px;
  text-transform: capitalize;
}
@media screen and (min-width: 720px) {
  .rbb-btn {
    display: none;
  }
}
.rbb-btn .rbb-icon {
  color: #fff;
  height: 13px;
  width: 13px;
}
.report-header {
  width: 100%;
  background-color: var(--table-bg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  font-family: "Lato";
}
.report-header .report-img-title {
  justify-content: space-between;
  height: 32px;
  display: flex;
  align-items: center;
  background: var(--reports-subheader-bg-color);
  border: 1px solid var(--primary-color);
  border-radius: 25px;
}
.report-header .report-img-title .tab-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.report-header .report-img-title .tab-btns .search-games-ctn {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2px;
}
.report-header .report-img-title .tab-btns .search-games-ctn .MuiSvgIcon-root {
  position: absolute;
  right: 0;
  color: #fff;
}
.report-header .report-img-title .tab-btns .search-games-input {
  height: unset;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  background: transparent;
  font-size: 13px;
  padding: 4px 8px;
  color: #fff;
}
.report-header .report-img-title .tab-btns .tab-btn {
  margin: 10px 5px;
  padding: 5px 15px;
  background: var(--primary-color);
  border-radius: 20px;
  text-transform: capitalize;
  width: auto;
}
.report-header .report-img-div-title {
  display: flex;
  align-items: center;
}
.report-header .report-img-div-title .report-img-div {
  background-color: var(--reports-header-icon-bg-color);
  height: 20px;
  width: 20px;
  margin: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report-header .report-img-div-title .report-img-div .report-img {
  height: 12px;
  width: 12px;
  -webkit-filter: var(--reports-header-icon-color);
  filter: var(--reports-header-icon-color);
}
.report-header .report-img-div-title .report-title {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: var(--headers-font-family);
  font-weight: 900;
  margin-left: 5px;
}
@media screen and (max-width: 720px) {
  .report-header .report-img-div-title .report-title {
    font-size: 12px;
  }
}
.report-header .report-filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1120px) {
  .report-header .report-filters {
    flex-direction: column;
  }
  .report-header .report-filters .date-template,
  .report-header .report-filters .select-template {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .report-header .report-filters .select-template .MuiInputBase-root {
    margin: 5px 0;
  }
  .report-header .report-filters .date-template .MuiFormControl-marginNormal {
    margin: 4px 5px;
  }
  .report-header .report-filters .full-width {
    width: 98%;
  }
  .report-header
    .report-filters
    .full-width
    .date-template
    .MuiFormControl-root,
  .report-header
    .report-filters
    .full-width
    .date-template
    .MuiFormControl-root
    .MuiInputBase-root,
  .report-header
    .report-filters
    .full-width
    .select-template
    .MuiInputBase-root {
    width: 100%;
  }
  .report-header
    .report-filters
    .full-width
    .date-template
    .MuiIconButton-root {
    padding: 0 !important;
  }
  .report-header .report-filters .two-filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
  .report-header .report-filters .two-filters .select-template {
    width: 49%;
  }
  .report-header
    .report-filters
    .two-filters
    .select-template
    .MuiInputBase-root {
    width: 100%;
  }
  .report-header .report-filters .two-filters .date-template {
    width: 50%;
  }
  .report-header .report-filters .two-filters .date-template .dt-label {
    margin-left: 10px;
    font-family: var(--headers-font-family) !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    text-align: center;
  }
  .report-header
    .report-filters
    .two-filters
    .date-template
    .MuiFormControl-root {
    width: 100%;
  }
  .report-header
    .report-filters
    .two-filters
    .date-template
    .MuiFormControl-root
    .MuiInputBase-root {
    width: 95%;
  }
}
@media screen and (max-width: 1120px) {
  .rh-web-view {
    display: none !important;
  }
}
@media screen and (min-width: 1120px) {
  .rh-mob-view {
    display: none !important;
  }
}
.promotion-card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: var(--ion-button-bg-2);
}
.banner-display-content {
  position: absolute;
  right: 0;
  top: 0;
  height: 85%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.know-more-btn-div {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
@media (max-width: 768px) {
  .banner-display-content {
    transform: scale(0.8);
  }
}
@media (max-width: 510px) {
  .banner-display-content {
    transform: scale(0.6);
  }
}
@media (max-width: 380px) {
  .banner-display-content {
    transform: scale(0.5);
  }
}
.cb {
  padding: 7px 20px;
  margin: 5px;
  text-transform: capitalize;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.cb.cb-variant-2 {
  background: var(--primary-color);
  color: black;
}
.cb.cb-variant-1 {
  background: var(--primary-color);
  color: var(--custom-btn-text-variant-1);
}
.dialog-footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.footer-action-btn {
  background-color: var(--custom-btn-bg-variant-2) !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  flex: 1 1;
  border-radius: 20px;
  color: var(--custom-btn-text-variant-2);
}
@media screen and (max-width: 720px) {
  .footer-action-btn {
    font-size: 12px;
  }
}
.footer-action-btn:first-child {
  margin-right: 10px;
}
.withdraw-yes-btn {
  flex: 1 1;
  background-color: var(--custom-btn-bg-variant-1);
  color: var(--custom-btn-text-variant-1);
}
.promotions-page {
  background: var(--background-ctn-gradient);
  border-radius: 10px;
  margin: 12px 24px;
  padding: 16px 12px;
  height: 90vh;
}
.promotion-card-ctn {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 6px;
  gap: 6px;
}
.promotions-modal-ctn {
  padding: 20px;
}
@media (max-width: 768px) {
  .promotions-page {
    padding: 10px;
    margin: 0;
    background: transparent;
    background: var(--ion-background-color);
  }
  .promotion-card-ctn {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
.modal-close-btn {
  position: absolute !important;
  top: 8px;
  right: 8px;
  color: #9e9e9e;
}
@media screen and (max-width: 720px) {
  .login-modal-ctn .MuiPaper-root {
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: #00143d;
    padding: 0 !important;
    margin: 0;
  }
  .login-modal-ctn .MuiPaper-root .MuiDialogContent-root {
    background: url(/static/media/border.74f2b4a0.svg) !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: 100vw auto !important;
    background-attachment: fixed !important;
    display: block;
    justify-content: center;
    align-items: center;
  }
}
.dark-colose-btn {
  color: var(--dialog-close-btn) !important;
  background: #a5a5a5;
  padding: 4px;
}
.dark-colose-btn .MuiIconButton-root {
  color: var(--dialog-header-background) !important;
}
.MuiAutocomplete-popper {
  width: 200px !important;
}
.MuiAutocomplete-listbox {
  width: 220px;
}
.MuiAutocomplete-listbox .MuiAutocomplete-option {
  background-color: var(--select-popover-background) !important;
  border-bottom: 1px solid #fff;
  width: 200px !important;
}
.MuiAutocomplete-listbox .select-games-menu {
  color: var(--reports-header-color);
  font-size: 12px;
  font-family: Lato;
  padding: 0 !important;
  margin: 0 !important;
  min-width: 100%;
  display: block;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 8px;
}
.casino-menu .search-games-ctn {
  position: relative;
}
.casino-menu .search-games-ctn .search-autocomplete-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  top: 28px;
  right: 12px;
  cursor: pointer;
}
.dc-page-bg {
  background: var(--ion-background-color);
  min-height: 100%;
}
@media screen and (max-width: 920px) {
  .dc-page-bg {
    background: var(--background-ctn-gradient);
  }
  .dc-page-bg.pt-14 {
    padding-top: 14px;
  }
}
.dc-page-bg .mt-16 {
  margin-top: 0;
}
@media screen and (max-width: 920px) {
  .dc-page-bg .mt-16 {
    margin-top: 0;
  }
}
.dc-page-bg .casino-mobile-banners {
  margin: 0 16px;
}
.dc-page-bg .casino-tabs {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.dc-page-bg .casino-tabs .MuiTab-root {
  min-height: 42px;
  opacity: 0.5;
  padding-bottom: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
  min-width: 80px;
}
.dc-page-bg .casino-tabs .MuiTab-root.Mui-selected {
  opacity: 1 !important;
}
.dc-page-bg .casino-tabs .MuiTab-root.Mui-selected .MuiTab-wrapper {
  color: #f8f8f8 !important;
}
.dc-page-bg .casino-tabs .MuiTab-root .MuiTab-wrapper {
  font-family: var(--headers-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #f8f8f8;
}
.dc-page-bg .dc-ctn {
  box-sizing: border-box;
  padding: 0 5px 40px;
}
.dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root {
  min-height: 90px;
  padding-top: 0;
  margin-top: 10px;
  opacity: 0.5;
  padding-bottom: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
  min-width: 60px;
  border-radius: 0;
}
.dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root.Mui-selected {
  opacity: 1;
  padding-top: 3px;
  border-bottom: transparent;
  background: transparent !important;
}
.dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root.Mui-selected ion-icon,
.dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root.Mui-selected span {
  color: var(--primary-color);
}
.dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root .MuiTab-wrapper {
  font-family: var(--headers-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #f8f8f8;
  padding: 0 10px;
}
.dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root:hover .casino-icon {
  transform: scale(1.5);
}
.dc-page-bg .dc-ctn {
  background: var(--background-ctn-gradient);
  padding: 12px;
  border-radius: 10px;
  margin: 6px 4px 10px 10px;
}
.dc-page-bg .dc-ctn.dc-indian-ctn .casino-header-ctn,
.dc-page-bg .dc-ctn.dc-virtual-ctn .casino-header-ctn {
  height: 32px;
}
.dc-page-bg
  .dc-ctn.dc-indian-ctn
  .casino-header-ctn
  .casino-search-ctn
  .eventTypes-menu-tabs,
.dc-page-bg
  .dc-ctn.dc-virtual-ctn
  .casino-header-ctn
  .casino-search-ctn
  .eventTypes-menu-tabs {
  padding: 1px 10px;
}
.dc-page-bg .dc-ctn .casino-header-ctn {
  background: var(--ion-background-color);
  border-radius: 20px;
  display: flex;
  height: 32px;
  align-items: center;
  border: 1px solid #04a0e2;
  border-radius: 30px;
  padding-left: 8px;
  justify-content: space-between;
}
.dc-page-bg .dc-ctn .casino-header-ctn .clear-all-btn {
  margin-right: 5px;
}
.dc-page-bg .dc-ctn .casino-header-ctn .clear-all-btn .cp-clear-all {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 30px;
  margin-left: 10px;
  text-transform: capitalize;
  text-wrap: nowrap;
  background-color: #fff;
}
.dc-page-bg .dc-ctn .casino-header-ctn .casino-heading {
  font-size: 13px;
  font-weight: 900;
  line-height: 17.55px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: none;
  padding-left: 0;
}
@media screen and (max-width: 920px) {
  .dc-page-bg .dc-ctn .casino-header-ctn .casino-heading {
    font-size: 12px;
    font-weight: 16px;
  }
}
.dc-page-bg .dc-ctn .casino-header-ctn .casino-heading .casino-icon-img {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .casino-heading
  .casino-icon-img
  .live-casino-img {
  -webkit-filter: var(--reports-header-icon-color);
  filter: var(--reports-header-icon-color);
}
.dc-page-bg .dc-ctn .casino-header-ctn .eventTypes-menu-tabs {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 6px 10px;
}
@media screen and (max-width: 920px) {
  .dc-page-bg .dc-ctn .casino-header-ctn .eventTypes-menu-tabs {
    justify-content: space-between;
    grid-gap: 9px;
    gap: 9px;
    padding: 6px 8px;
  }
}
.dc-page-bg .dc-ctn .casino-header-ctn .eventTypes-menu-tabs .search-label-ctn {
  display: flex;
}
@media screen and (min-width: 920px) {
  .dc-page-bg
    .dc-ctn
    .casino-header-ctn
    .eventTypes-menu-tabs
    .search-label-ctn {
    display: flex;
  }
}
@media screen and (max-width: 920px) {
  .dc-page-bg
    .dc-ctn
    .casino-header-ctn
    .eventTypes-menu-tabs
    .search-label-ctn {
    flex: auto 1;
    align-items: center;
    width: 100%;
  }
  .dc-page-bg
    .dc-ctn
    .casino-header-ctn
    .eventTypes-menu-tabs
    .search-label-ctn
    .select-heading-text {
    padding-bottom: 4px;
  }
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-label-ctn
  .casino-game-search {
  min-width: 70%;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-label-ctn
  .casino-game-search
  .search-autocomplete-icon {
  top: 57px;
  left: 20px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-label-ctn
  .MuiFormControl-marginNormal {
  margin: 0;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-label-ctn
  .cp-clear-all {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;
  text-transform: capitalize;
  text-wrap: nowrap;
  background-color: #fff;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .select-heading-text {
  font-size: 12px;
  line-height: 16.2px;
  font-weight: 400;
  color: #fff;
  padding-right: 8px;
}
.dc-page-bg .dc-ctn .casino-header-ctn .eventTypes-menu-tabs .search-games-ctn {
  min-width: 140px;
  border-radius: 100px;
  position: relative;
  margin-right: 18px;
}
@media screen and (max-width: 920px) {
  .dc-page-bg
    .dc-ctn
    .casino-header-ctn
    .eventTypes-menu-tabs
    .search-games-ctn {
    margin-right: 0;
  }
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .search-autocomplete-icon {
  width: 24px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
  .dc-page-bg
    .dc-ctn
    .casino-header-ctn
    .eventTypes-menu-tabs
    .search-games-ctn
    .search-autocomplete-icon {
    top: 4px;
  }
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .autocomplete-games-text {
  color: #fff !important;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .autocomplete-games-text
  .MuiInputBase-input {
  position: relative;
  left: 30px;
  color: #fff !important;
  padding: 0 8px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .autocomplete-games-text
  .MuiInputBase-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .autocomplete-games-text
  .MuiInputBase-input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .autocomplete-games-text
  .MuiInputBase-input::placeholder {
  color: #fff;
  opacity: 1;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .autocomplete-games-text
  .MuiInputBase-input::-ms-input-placeholder {
  color: #fff;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  label {
  color: var(--ion-header-link-color) !important;
  transform: translate(14px, 6px) scale(1);
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.2px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .MuiOutlinedInput-root {
  padding-top: 4px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: transparent !important;
  color: var(--filter-controls-border) !important;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .MuiOutlinedInput-root
  legend {
  display: none;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .MuiFormControl-marginNormal {
  margin: auto;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .MuiInputBase-root {
  height: 24px;
  display: flex;
  padding: 0;
  align-items: center;
}
@media screen and (max-width: 920px) {
  .dc-page-bg
    .dc-ctn
    .casino-header-ctn
    .eventTypes-menu-tabs
    .search-games-ctn
    .MuiInputBase-root {
    height: 28px;
    width: 100%;
  }
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .search-games-ctn
  .MuiInputBase-root
  .MuiOutlinedInput-notchedOutline {
  border: 0;
}
.dc-page-bg .dc-ctn .casino-header-ctn .eventTypes-menu-tabs .select-filter {
  height: 24px;
  width: 140px;
  color: #fff;
  font-size: 12px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .select-filter::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .select-filter:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .select-filter::placeholder {
  color: #fff;
  opacity: 1;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .eventTypes-menu-tabs
  .select-filter::-ms-input-placeholder {
  color: #fff;
}
@media screen and (max-width: 920px) {
  .dc-page-bg .dc-ctn .casino-header-ctn .eventTypes-menu-tabs .select-filter {
    height: 28px;
    width: 100%;
  }
}
.dc-page-bg .dc-ctn .casino-header-ctn .providers-more-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dc-page-bg .dc-ctn .casino-header-ctn .providers-more-icon .all-providers {
  padding: 5px;
  overflow-x: scroll;
  width: 90%;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .all-providers
  .sub-all-providers {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .all-providers
  .sub-all-providers
  .indv-provider {
  background-color: var(--table-bg);
  margin-right: 5px;
  border-radius: 20px;
  height: 30px;
  width: 70px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .all-providers
  .sub-all-providers
  .indv-provider
  .indv-provider-img {
  height: 20px;
  width: 50px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .all-providers
  .sub-all-providers
  .indv-provider.sel-indv-provider {
  background-color: var(--ion-button-color);
  border: 1px solid var(--table-bg);
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .all-providers
  .sub-all-providers
  .indv-provider.sel-indv-provider
  img {
  -webkit-filter: invert(1) brightness(1) !important;
  filter: invert(1) brightness(1) !important;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .all-providers::-webkit-scrollbar {
  display: none;
}
.dc-page-bg .dc-ctn .casino-header-ctn .providers-more-icon .more-icon {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -3px;
  top: 7px;
}
.dc-page-bg
  .dc-ctn
  .casino-header-ctn
  .providers-more-icon
  .more-icon
  .more-icon-img {
  height: 10px;
  width: 10px;
}
.dc-page-bg .dc-ctn .dc-games-ctn {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 100%;
  grid-gap: 12px;
  gap: 12px;
  margin-top: 12px;
}
.dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: unset;
  background: var(--ion-background-secondary);
  border: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-ctn {
  padding: 0;
  text-align: center;
  border-top: 1.5px solid #fff;
  display: none;
}
.dc-page-bg
  .dc-ctn
  .dc-games-ctn
  .dc-ion-card
  .dc-card-ctn
  .add-or-remove-favourite {
  background-color: transparent;
  z-index: 1000;
  background: var(--dashboard-live-game-dc-card-ctn);
}
.dc-page-bg
  .dc-ctn
  .dc-games-ctn
  .dc-ion-card
  .dc-card-ctn
  .add-or-remove-favourite
  .favourite-img {
  height: 25px;
  width: 25px;
  color: #fff;
}
.dc-page-bg
  .dc-ctn
  .dc-games-ctn
  .dc-ion-card
  .dc-card-ctn
  .add-or-remove-favourite
  .red-favourite-img {
  height: 25px;
  width: 25px;
  color: red;
}
.dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
}
.dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card-1 {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: unset;
  background: var(--ion-background-secondary);
  border: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card-1 .dc-card-ctn {
  padding: 0;
  text-align: center;
  border-top: 1.5px solid #fff;
}
.dc-page-bg
  .dc-ctn
  .dc-games-ctn
  .dc-ion-card-1
  .dc-card-ctn
  .add-or-remove-favourite {
  background-color: transparent;
  z-index: 1000;
  background: var(--dashboard-live-game-dc-card-ctn);
}
.dc-page-bg
  .dc-ctn
  .dc-games-ctn
  .dc-ion-card-1
  .dc-card-ctn
  .add-or-remove-favourite
  .favourite-img {
  height: 25px;
  width: 25px;
  color: #fff;
}
.dc-page-bg
  .dc-ctn
  .dc-games-ctn
  .dc-ion-card-1
  .dc-card-ctn
  .add-or-remove-favourite
  .red-favourite-img {
  height: 25px;
  width: 25px;
  color: red;
}
.dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card-1 .dc-card-media {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
}
.dc-page-bg .game-name {
  color: var(--ion-text-light);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  width: 100%;
  padding: 14px 8px;
  background: var(--dashboard-live-game-dc-card-ctn);
  text-transform: capitalize;
  margin-bottom: 0;
}
.dc-page-bg .game-range {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 1px 10px;
  font-size: 12px;
}
@media (min-width: 1281px) {
  .dc-page-bg .dc-ctn .dc-games-ctn.indian-casino,
  .dc-page-bg .dc-ctn .dc-games-ctn.slot-games {
    margin-top: 20px;
  }
}
.dc-page-bg .special-carousal .slider .slide {
  padding-right: 20px;
}
@media (max-width: 720px) {
  .dc-page-bg .casino-web-banners {
    display: none !important;
  }
  .dc-page-bg .casino-tabs .ind-casino-tab {
    color: var(--primary-color);
    opacity: 1 !important;
  }
  .dc-page-bg .casino-tabs .ind-casino-tab .MuiTab-wrapper {
    animation-name: color-change !important;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .dc-page-bg .game-types-tabs .MuiTab-root.Mui-selected .casino-icon {
    transform: scale(1.5);
  }
}
@media (min-width: 721px) {
  .dc-page-bg .casino-mobile-banners,
  .dc-page-bg .ind-casino-tab {
    display: none !important;
  }
}
.dc-page-bg .casino-filters-row {
  display: flex;
  flex-direction: row;
}
.dc-page-bg .casino-filters-row .search-games-ctn {
  margin: auto 4px auto auto;
  min-width: 170px;
  border-radius: 100px;
  position: relative;
}
.dc-page-bg .casino-filters-row .search-games-ctn .search-autocomplete-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  top: 11px;
  right: 12px;
  cursor: pointer;
}
.dc-page-bg .casino-filters-row .search-games-ctn .autocomplete-games-text {
  color: #fff !important;
}
.dc-page-bg
  .casino-filters-row
  .search-games-ctn
  .autocomplete-games-text
  .MuiInputBase-input {
  color: #fff !important;
  padding: 4.5px 4px;
}
.dc-page-bg .casino-filters-row .search-games-ctn label {
  color: var(--ion-header-link-color) !important;
  transform: translate(14px, 12px) scale(1);
}
.dc-page-bg .casino-filters-row .search-games-ctn .MuiOutlinedInput-root {
  border-width: 0;
  padding-top: 4px;
  border-radius: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.6);
  background: transparent !important;
  color: var(--filter-controls-border) !important;
}
.dc-page-bg
  .casino-filters-row
  .search-games-ctn
  .MuiOutlinedInput-root
  legend {
  display: none;
}
.dc-page-bg
  .casino-filters-row
  .search-games-ctn
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}
.dc-page-bg .casino-filters-row .search-games-ctn .MuiFormControl-marginNormal {
  margin: auto;
}
.dc-page-bg .casino-filters-row .search-games-ctn .MuiInputBase-root {
  height: 38px;
}
.dc-page-bg .casino-filters-row .select-filter {
  min-width: 180px;
  max-width: 220px;
  margin: auto 10px auto 4px;
  height: 38px;
  border-radius: 100px;
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.6);
  background: transparent;
  color: var(--filter-controls-border);
}
.dc-page-bg .casino-filters-col {
  display: flex;
}
.dc-page-bg .casino-icon {
  height: 28px;
  width: 34px;
  transform: scale(0.8);
  padding-right: 10px;
}
@media (min-width: 721px) and (max-width: 1200px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    object-position: inherit;
  }
}
@media (min-width: 1201px) and (max-width: 1365px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 120px;
    object-fit: inherit;
    object-position: inherit;
  }
}
@media (min-width: 1366px) and (max-width: 1500px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 120px;
    object-fit: inherit;
    object-position: inherit;
  }
}
@media (min-width: 1501px) and (max-width: 1650px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 140px;
    object-fit: inherit;
    object-position: inherit;
  }
}
@media (min-width: 1651px) and (max-width: 2000px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 160px;
    object-fit: inherit;
    object-position: inherit;
  }
}
@media (min-width: 2001px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 280px;
    object-fit: inherit;
    object-position: inherit;
  }
}
@media screen and (max-width: 920px) {
  .dc-page-bg .exch-inplay-events-view .search-games-ctn {
    position: relative;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .search-games-ctn
    .search-autocomplete-icon {
    left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
  }
  .dc-page-bg .exch-inplay-events-view .eventTypes-menu-tabs-mob {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    gap: 5px;
    margin: 0 12px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .select-filter {
    margin-top: 12px;
    color: #fff;
    border-radius: 8px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .MuiFormControl-root {
    margin-bottom: 0;
    margin-top: 12px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .MuiInputBase-root {
    border-radius: 8px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .MuiFormLabel-root,
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .MuiInputBase-input {
    color: #fff;
    font-family: Lato;
    font-size: 12px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .MuiFormLabel-root {
    opacity: 0.5;
    font-family: Lato;
    font-size: 12px;
    top: -2px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .eventTypes-menu-tabs-mob
    .MuiFormLabel-root.Mui-focused {
    top: 0;
  }
  .dc-page-bg .exch-inplay-events-view .casino-mob-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px 8px;
    gap: 10px 8px;
    margin: 12px;
  }
  .dc-page-bg .exch-inplay-events-view .casino-mob-buttons .casino-mob-btn {
    text-transform: capitalize;
    color: #fff;
    border: 1px solid var(--ion-primary-border-color);
    border-radius: 8px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    padding: 10px 12px;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .casino-mob-buttons
    .casino-mob-btn.active {
    border-color: var(--primary-color);
  }
  .dc-page-bg
    .exch-inplay-events-view
    .casino-mob-buttons
    .casino-mob-btn
    .MuiButton-label {
    justify-content: center;
  }
  .dc-page-bg
    .exch-inplay-events-view
    .casino-mob-buttons
    .casino-mob-btn
    .casino-icon {
    height: 14px;
    width: 16px;
    padding-right: 4px;
  }
  .dc-page-bg .exch-inplay-events-view .carousel-root {
    margin: 0 11px;
  }
  .dc-page-bg .casino-filters-row .search-games-ctn {
    min-width: 50%;
    margin: 5px 5px 5px 0;
  }
  .dc-page-bg .casino-filters-row .select-filter {
    margin: 5px 0;
    max-width: none;
    min-width: 50%;
    height: 38px;
  }
  .dc-page-bg .MuiTab-wrapper {
    flex-direction: column;
  }
  .dc-page-bg .casino-name {
    font-size: 11px;
    font-weight: 800;
  }
  .dc-page-bg .casino-icon {
    height: 24px;
    width: 34px;
  }
  .dc-page-bg .casino-icon-active svg {
    fill: var(--primary-color);
  }
  .dc-page-bg .dc-ctn {
    padding: 0;
    background: transparent;
    margin-left: 0;
    margin-right: 0;
  }
  .dc-page-bg .dc-ctn .dc-games-ctn {
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    grid-gap: 5px;
    gap: 5px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 920px) and (max-width: 720px) {
  .dc-page-bg .dc-ctn .dc-games-ctn {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 920px) and (max-width: 600px) {
  .dc-page-bg .dc-ctn .dc-games-ctn {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 920px) and (max-width: 450px) {
  .dc-page-bg .dc-ctn .dc-games-ctn {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 920px) {
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card {
    border-radius: 6px;
  }
  .dc-page-bg .dc-ctn .dc-games-ctn .dc-ion-card .dc-card-media {
    width: 100%;
    height: 98px;
    object-fit: inherit;
    object-position: inherit;
  }
  .dc-page-bg .game-name {
    font-size: 8px;
    line-height: unset;
    padding: 5px 0 6px;
    border-radius: 0 0 6px 6px;
  }
  .dc-page-bg .game-range {
    font-size: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .dc-page-bg .casino-tabs .MuiTab-root {
    min-height: 36px;
    margin-right: 10px;
  }
  .dc-page-bg .casino-tabs .MuiTab-root .MuiTab-wrapper {
    font-size: 16px;
    line-height: 19px;
  }
  .dc-page-bg .dc-ctn .game-types-tabs {
    margin-top: 20px;
  }
  .dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root {
    min-height: 30px;
    min-width: 60px;
    margin-right: 0;
    background-color: transparent;
    padding-top: 10px;
  }
  .dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root .MuiTab-wrapper {
    font-size: 12px;
    line-height: 19px;
  }
  .dc-page-bg .dc-ctn .game-types-tabs .MuiTab-root.Mui-selected {
    padding-top: 3px;
  }
  .dc-page-bg .search-row .casino-search {
    width: 100%;
  }
}
.dc-dialog .dc-dialog-title h2 {
  color: #fff !important;
}
.dc-dialog .dc-dialog-content {
  background: #fff !important;
}
.dc-dialog-continue {
  background: var(--primary-color);
  justify-content: center !important;
}
.dc-dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 150px;
}
.dc-dialog-actions {
  background: var(--dialog-content-background);
}
.open-dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100px;
}
@media (min-width: 721px) and (max-width: 1200px) {
  .open-dialog-body {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .open-dialog-body {
    height: 80px;
    font-size: 12px;
  }
}
.open-dialog-tag {
  margin-bottom: 10px;
  font-size: 18px;
}
@media (min-width: 721px) and (max-width: 1200px) {
  .open-dialog-tag {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .open-dialog-tag {
    font-size: 12px;
  }
}
.MuiAutocomplete-popper ul {
  background-color: var(--select-popover-background);
  color: var(--ion-text-color);
}
.dialog-div {
  background: none !important;
}
.dialog-div .dialog-div-body {
  background-image: url(/static/media/info-bg.5ec528c3.jpg);
  background-size: cover !important;
}
.dialog-div .dialog-div-body .go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--gradient-color-primary);
  border-radius: 0 4px 0 32px;
  cursor: pointer;
}
.dialog-div .dialog-div-body .go-corner .go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: #000;
  font-family: courier, sans;
}
.dialog-div .dialog-div-body .dialog-title {
  justify-content: center;
  color: var(--ion-color-secondary-contrast) !important;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  font-size: large;
}
.dialog-div .dialog-div-body .dialog-title .MuiSvgIcon-root {
  color: var(--gradient-color-primary);
}
.dialog-div .dialog-div-body .dialog-body {
  color: var(--ion-color-secondary-contrast);
  text-align: center;
  padding: 20px;
}
.dialog-div .dialog-div-body .dialog-body .dialog-ex {
  text-align: center;
  padding: 10px;
  color: var(--ion-color-secondary-contrast);
}
.dialog-div .dialog-div-body .dialog-continue {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.dialog-div .dialog-div-body .dialog-continue .custom-btn {
  height: 35px;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px 25px;
  background: var(--gradient-color-primary);
}
.dialog-div .dialog-div-body .dialog-continue .custom-btn,
.dialog-div .dialog-div-body .dialog-continue .custom-btn-close {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  margin-right: 5px;
}
.dialog-div .dialog-div-body .dialog-continue .custom-btn-close {
  height: 36px;
  color: #fff;
  border-radius: 5px;
  padding: 8px 25px;
  background: #000 !important;
}
.dialog-div .dialog-div-body .dialog-continue .btn {
  color: #000;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.casino-filter-section {
  margin-top: 10px;
  display: flex;
  overflow: scroll;
  background-color: var(--reports-header-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1.5px solid var(--primary-color);
}
.casino-filter-section .casino-filter-text-ctn {
  padding: 10px 20px;
  color: var(--ion-background-color);
  cursor: pointer;
}
.casino-filter-section .casino-filter-text-ctn:not(:last-child) {
  border-right: 1px solid var(--primary-color);
}
.casino-filter-section .casino-filter-text-ctn .casino-filter-text {
  white-space: nowrap;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
}
.casino-filter-section .casino-filter-text-ctn-selected {
  background: var(--primary-color);
  color: #000;
}
.cw-cts {
  margin: 12px 0;
  display: flex;
  justify-content: flex-start;
}
.cw-cts .cw-sub-cts {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cw-cts .cw-sub-cts .cw-ct {
  min-width: 100px;
  width: "auto";
  height: 55px;
  background-color: transparent;
  margin: 0 6px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.cw-cts .cw-sub-cts .cw-ct .tab-icon-ctn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cw-cts .cw-sub-cts .cw-ct .cw-ct-img {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(97%) sepia(19%) saturate(59%) hue-rotate(187deg)
    brightness(124%) contrast(100%);
  filter: invert(97%) sepia(19%) saturate(59%) hue-rotate(187deg)
    brightness(124%) contrast(100%);
}
.cw-cts .cw-sub-cts .cw-ct .tab-btn-text {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
}

.cw-cts .cw-sub-cts .cw-ct.cw-ct-sel {
  background: var(--primary-color);
  border: none;
}
.cw-cts .cw-sub-cts .cw-ct.cw-ct-sel .cw-ct-img {
  -webkit-filter: invert(0) sepia(82%) saturate(7447%) hue-rotate(19deg)
    brightness(103%) contrast(100%);
  filter: invert(0) sepia(82%) saturate(7447%) hue-rotate(19deg)
    brightness(103%) contrast(100%);
}
.bg-white {
  background-color: #fff !important;
}
/*# sourceMappingURL=26.b80ade57.chunk.css.map */
