.ds-view-ctn {
    background-color: var(--ion-background-color);
    min-height: 100vh
}

.sports-view-ctn,
.sports-view-header {
    margin-left: 10px
}

.sports-view-ctn.sports-margin {
    margin: 0 !important
}

.sports-home-view .mob-view {
    display: none !important
}

.competitions-menu-section,
.events-table-section {
    padding: 0 !important
}

.events-table-section {
    margin: 16px 0 0
}

@media screen and (max-width:920px) {
    .events-table-section {
        margin: 0
    }
}

.pos-sticky-10 {
    position: -webkit-sticky;
    position: sticky;
    top: -10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px
}

.pos-sticky-10 .promotions-sidebar-container {
    position: relative;
    margin-bottom: 14px
}

.exch-providers .promotions-sidebar-ctn {
    position: -webkit-sticky;
    position: sticky;
    top: 10px
}

.competitions-menu-section {
    max-width: 260px;
    margin-right: 0;
    margin-left: -10px
}

@media only screen and (min-width:1121px) and (max-width:1240px) {
    .competitions-menu-section {
        max-width: 180px;
        margin-right: 0
    }
}

@media (max-width:1120px) {
    .sports-home-view .web-view {
        display: none !important
    }

    .sports-home-view .mob-view {
        display: block !important
    }

    .competitions-menu-section {
        display: none;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-bottom: 42px
    }

    .sports-home-view {
        display: flex;
        width: 100%;
        flex-direction: column
    }
}

@media screen and (max-width:720px) {

    .sports-view-ctn,
    .sports-view-header {
        margin: 0
    }
}

.ps-iframe-ctn {
    background: var(--ion-background);
    width: 100%;
    height: 90vh;
    scrollbar-width: none
}

.ps-iframe-ctn iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.live-img-display {
    height: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 -9px 0 9px;
    padding-right: 26px
}

.live-img-display.inplay-img-display {
    padding-right: 0
}

@media screen and (max-width:720px) {
    .live-img-display {
        height: 20px;
        padding: 0;
        margin: 4px 4px 14px;
        position: absolute;
        left: 0;
        width: auto
    }
}

.date-display {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 5px;
    background-color: var(--date-display-bg);
    color: var(--date-display-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 7px;
    font-family: "Lato";
    font-size: 8px;
    font-weight: 600;
    letter-spacing: .06em
}

@media screen and (max-width:720px) {
    .date-display {
        font-size: 7px;
        padding: 5px;
        margin: 0 2px
    }
}

.home-away-team {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: 0;
    gap: 0;
    line-height: normal
}

.home-away-team .team-names {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    color: var(--table-cell-text);
    font-weight: 700;
    font-size: 12px
}

@media screen and (max-width:580px) {
    .home-away-team .team-names {
        width: auto;
        font-size: 12px
    }
}

.home-away-team .date {
    font-weight: 500;
    font-size: 10px
}

.market-enabled {
    margin: 3px;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--enabled-market-bg);
    border-radius: 50%;
    color: var(--active-footer-color)
}

.market-enabled.bg-none {
    background-color: transparent
}

.market-enabled .market-enabled-inner {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800
}

.market-enabled .market-enabled-inner svg path {
    fill: var(--table-cell-text)
}

.nd-ctn {
    min-height: calc(100% - 100px)
}

.nd-ctn,
.nd-ctn .nd-sub-ctn {
    display: flex;
    justify-content: center;
    align-items: center
}

.nd-ctn .nd-sub-ctn {
    flex-direction: column;
    color: #fff
}

.nd-ctn .nd-sub-ctn .nd-img {
    height: 81px;
    width: 81px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

@media screen and (max-width:720px) {
    .nd-ctn .nd-sub-ctn .nd-img {
        height: 60px;
        width: 60px
    }

    .nd-ctn .nd-sub-ctn .nd-img img {
        height: 50%;
        width: 50%
    }
}

.nd-ctn .nd-sub-ctn .nd-title {
    font-size: 20px;
    font-weight: 900
}

@media screen and (max-width:720px) {
    .nd-ctn .nd-sub-ctn .nd-title {
        font-size: 15px
    }
}

.nd-ctn .nd-sub-ctn .nd-bc {
    font-size: 16px;
    font-weight: 600
}

@media screen and (max-width:720px) {
    .nd-ctn .nd-sub-ctn .nd-bc {
        font-size: 11px
    }
}

.exch-odd-view {
    display: flex;
    align-items: center;
    flex: 1 1;
    width: 100%;
    min-width: 56px;
    padding: 0
}

@media screen and (min-width:920px) {
    .exch-odd-view {
        min-width: 52px;
        width: 56px !important
    }
}

.exch-odd-view .exch-odd-button {
    padding: 0 !important;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.exch-odd-view .exch-odd-button.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default
}

.exch-odd-view .exch-odd-button.disabled .lock-icon {
    height: 16px;
    width: 16px;
    margin-left: auto;
    margin-right: auto
}

.exch-odd-view .exch-odd-button-content {
    padding: 0 4px;
    width: 100%
}

@media screen and (min-width:920px) {
    .exch-odd-view .exch-odd-button-content {
        min-width: 56px
    }
}

.exch-odd-view .odd-change .exch-odd-button-content {
    animation-name: odd-change;
    animation-duration: 0s
}

.mob-exch-odd-view {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    padding: 0;
    margin-right: 1px;
    color: #000
}

.mob-exch-odd-view .mob-exch-odd-button {
    padding: 0 !important;
    min-height: 26.5px;
    border-radius: 20px !important
}

.mob-exch-odd-view .mob-exch-odd-button.disabled {
    opacity: .6;
    pointer-events: none;
    cursor: default
}

.mob-exch-odd-view .mob-exch-odd-button.disabled .lock-icon {
    height: 14px;
    width: 10px;
    margin-bottom: -4px
}

.mob-exch-odd-view .mob-exch-odd-button-content {
    padding: 2px 1.75px;
    min-height: 26.5px
}

.mob-exch-odd-view .odd-change .mob-exch-odd-button-content {
    animation-name: odd-change;
    animation-duration: 0s
}

@keyframes odd-change {
    0% {
        border-radius: 4px
    }

    10% {
        border-radius: 4px
    }

    30% {
        border-radius: 4px
    }

    40% {
        border-radius: 4px
    }

    50% {
        border-radius: 4px
    }

    60% {
        border-radius: 4px
    }

    70% {
        border-radius: 4px
    }

    80% {
        border-radius: 4px;
        background: var(--odd-btn-animation-color)
    }

    90% {
        border-radius: 4px
    }

    to {
        border-radius: 4px
    }
}

@media (max-width:720px) {
    .exch-odd-view {
        min-width: 50px
    }

    .exch-odd-view .exch-odd-button-content {
        padding: 1px;
        min-height: 30px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
}

.events-table-ctn {
    padding: 12px;
    background: var(--background-ctn-gradient);
    border-radius: 20px;
    margin-bottom: 30px
}

@media screen and (max-width:920px) {
    .events-table-ctn {
        padding: 3px
    }
}

.events-table-ctn .search-events-autocomplete {
    position: relative
}

.events-table-ctn .search-events-autocomplete .search-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--ion-color-primary);
    position: absolute;
    top: 26px;
    right: 12px;
    cursor: pointer
}

.events-table-ctn .MuiTable-root {
    border-collapse: collapse
}

.events-table-ctn .eventType-accordion {
    box-shadow: none;
    margin-top: 8px !important;
    margin-bottom: 10px !important
}

@media screen and (max-width:920px) {
    .events-table-ctn .eventType-accordion {
        margin-top: 2px !important
    }
}

.events-table-ctn .eventType-accordion .eventType-header {
    background: var(--webkit-gradient-background-2);
    background: var(--linear-gradient-background-2);
    font-family: var(--headers-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--accordian-headers-color) !important;
    padding: 9px 16.2px 9px 22px;
    height: 44px !important;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px 8px 0 0
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-content {
    display: flex;
    flex: 1 1
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-content .accordian-sport-name {
    width: 50%
}

@media screen and (max-width:920px) {
    .events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-content .accordian-sport-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px
    }
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-content .accordian-headers {
    display: flex;
    width: 50%;
    border-left: 1px solid #0b57f5
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-content .accordian-headers .accordian-table-headers {
    width: 100%;
    text-align: center
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-content .accordian-headers .accordian-table-headers:nth-child(2) {
    border-left: 1px solid #0b57f5;
    border-right: 1px solid #0b57f5
}

.events-table-ctn .eventType-accordion .eventType-header .sport-inplay-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-expandIcon {
    opacity: 1;
    position: absolute;
    right: 18px
}

.events-table-ctn .eventType-accordion .eventType-header .MuiAccordionSummary-expandIcon .expand-icon {
    color: var(--accordian-headers-color) !important
}

.events-table-ctn .eventType-accordion .inplay-events-tbl-container {
    padding: 0
}

.events-table-ctn .eventType-accordion .inplay-events-tbl-container .MuiPaper-root {
    border-radius: 0 0 14px 14px
}

@media screen and (max-width:920px) {
    .events-table-ctn .eventType-accordion .inplay-events-tbl-container .MuiPaper-root {
        border-radius: 0
    }
}

.events-table-ctn .eventType-accordion .inplay-events-tbl-container .all-markets-nav-link {
    cursor: pointer !important
}

.events-table-ctn .events-table-content .MuiPaper-root {
    margin-top: 0;
    box-shadow: none;
    border-radius: 0
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table {
    border-style: hidden;
    border-radius: 6px;
    border-collapse: separate;
    border-spacing: 0 2px;
    overflow: hidden;
    width: 100%;
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .et-head {
    background: var(--table-header-background)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableHead-root .MuiTableRow-root {
    background: var(--head-bg)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root:first-child {
    border-radius: 30px 0 0 30px !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family: "Lato"
}

@media screen and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root:first-child {
        border-radius: 20px !important;
        border: 1px solid var(--table-head-cell-border) !important
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root:last-child {
    border-radius: 0 30px 30px 0 !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child {
    border-radius: 30px 0 0 30px !important
}

@media screen and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child {
        border-radius: 10px !important
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:last-child {
    border-radius: 0 30px 30px 0 !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-tabletr:last-child .MuiTableCell-body {
    border-bottom: none
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableCell-root.MuiTableCell-body.multi-markets-pin-cell {
    text-align: center
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .exch-odd-view {
    min-width: unset;
    justify-content: center
}

@media screen and (min-width:920px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .exch-odd-view {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.mt-0 {
    margin-top: 0 !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .schedule-cell-header {
    white-space: nowrap !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .br-inplay-start {
    border-left: 1px solid var(--table-head-cell-border) !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .br-inplay-end,
.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .br-inplay-middle,
.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .br-inplay-start {
    border-top: 1px solid var(--table-head-cell-border) !important;
    border-bottom: 1px solid var(--table-head-cell-border) !important;
    max-height: 30px;
    line-height: 5px !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .br-inplay-end {
    border-right: 1px solid var(--table-head-cell-border) !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .temas-col {
    display: inline-flex
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .temas-col .live-img {
    width: 18px;
    margin-left: 10px;
    vertical-align: middle;
    height: 18px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .schedule-cell {
    max-width: 84px;
    white-space: break-spaces;
    text-align: center
}

@media screen and (min-width:920px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .schedule-cell {
        height: 30px
    }
}

@media screen and (min-width:720px) and (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .ipe-time-display {
        display: none
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell {
    min-width: 296px !important;
    max-width: 296px !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view {
    display: none
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link {
    color: var(--table-cell-text);
    text-decoration: none;
    font-weight: 700
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .team-name-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .enabled-markets {
    display: flex;
    position: absolute;
    right: 0;
    background-color: var(--table-cell-bg)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .enabled-markets .live-img {
    margin: 3px;
    font-size: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: var(--sidebar-icon-bg);
    border-radius: 50%
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .enabled-markets .live-img path {
    stroke: var(--active-footer-color)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .team-name {
    max-width: 100%;
    white-space: break-spaces;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .team-names {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize
}

@media (min-width:1120px) and (max-width:1366px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .team-names {
        max-width: 200px
    }
}

@media screen and (min-width:1366px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell {
        min-width: 245px !important;
        max-width: 245px !important
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .score-cell {
    max-width: 50px !important;
    color: var(--ion-text-color);
    text-decoration: none
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .score-cell .score {
    max-width: 100%
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell {
    min-width: 80px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block {
    display: inline-flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    grid-gap: 4px;
    gap: 4px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd,
.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd {
    cursor: default !important;
    min-height: 30px;
    padding: 2px 4px;
    border-radius: 5px;
    font-family: "Lato";
    font-style: normal;
    border-radius: 20px !important;
    min-width: 56px;
    max-height: 30px;
    margin: 2px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd .price,
.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd .price {
    font-weight: 900;
    padding-top: 2px;
    font-size: 13px;
    line-height: 12px;
    color: var(--ion-text-color)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd .size,
.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd .size {
    font-weight: 600;
    font-size: 9px;
    color: var(--ion-text-color);
    opacity: .6
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd {
    background-color: var(--back-odd-background)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd {
    background-color: var(--lay-odd-background)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .all-markets-link-cell {
    max-width: 80px;
    text-align: center
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .all-markets-link-cell ion-img {
    height: 12px;
    width: 7px;
    margin-right: -6px;
    margin-left: 4px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root {
    border: 0
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root {
    font-family: var(--headers-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: var(--accordian-headers-color);
    background: transparent !important;
    background-color: transparent !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root:last-child .MuiTableCell-root.table-cell-last {
    border-bottom: none !important;
    border-radius: 30px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root:nth-child(2n),
.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root:nth-child(odd) {
    background: transparent
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root.table-cell-last {
    border-right: none !important;
    border-radius: 30px !important;
    background-color: var(--table-bg)
}

@media screen and (max-width:920px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root.table-cell-last {
        border-radius: 12px 12px 0 0 !important
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root {
    padding: 12px 11px 4px 12.49px;
    border: none !important
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .bgc-white {
    background-color: var(--table-cell-bg) !important
}

@media screen and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .bgc-white {
        background-color: transparent !important
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table {
    margin-top: 0 !important;
    border-style: hidden;
    border-collapse: separate;
    border-spacing: 0 2px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root {
    padding: 10px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root .MuiTableRow-root {
    background: var(--head-bg)
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root {
    padding: 5px 10px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root .icon-and-name {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    right: 5px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root .icon-and-name .ip-event-icon {
    width: 34px;
    padding-right: 10px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root:first-child {
    border-radius: 20px 0 0 20px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root:last-child {
    border-radius: 0 20px 20px 0
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child {
    border-radius: 30px 0 0 30px
}

@media screen and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child {
        border-radius: 10px
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:last-child {
    border-radius: 0 30px 30px 0
}

@media screen and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:last-child {
        border-radius: 10px 10px 10px 10px !important
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table.inplay-table .exch-odd-view {
    justify-content: center
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root {
    padding: 2px 0
}

@media screen and (min-width:920px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root.multi-markets-pin-cell {
        min-width: 50px
    }
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root.multi-markets-pin-cell .multi-add-icon {
    position: relative;
    top: 2px
}

.events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row {
    display: none
}

.events-table-ctn .bs-accordion {
    position: fixed;
    bottom: 0;
    right: 16px;
    width: 350px
}

.events-table-ctn .bs-accordion .MuiAccordionSummary-expandIcon {
    color: #fff !important;
    opacity: 1
}

.events-table-ctn .bs-accordion .bs-header {
    background: var(--webkit-gradient-background-2) !important;
    background: var(--linear-gradient-background-2) !important;
    font-family: var(--headers-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.7%;
    color: #fff !important
}

.events-table-ctn .bs-accordion .bs-body {
    padding: 0
}

.events-table-ctn .footer-row {
    margin-top: 10px
}

.events-table-ctn .footer-row .pagination-btn {
    font-size: 14px
}

@media screen and (max-width:920px) {
    .carousel-root.web-banners {
        margin: 0 6px
    }
}

.banner-container {
    background: none;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6px;
    gap: 6px;
    align-items: center;
    overflow: hidden;
    font-family: var(--headers-font-family);
    cursor: default
}

@media screen and (max-width:920px) {
    .banner-container {
        grid-template-columns: none
    }
}

.banner-container .banner-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6px;
    gap: 6px;
    height: 100%
}

.banner-container .banner-cards .banner-image {
    border-radius: 10px;
    cursor: pointer
}

.banner-container .banner-cards .banner-image svg {
    border-radius: 10px
}

@media screen and (max-width:920px) {
    .banner-container .banner-cards .banner-image svg {
        border-radius: 8px
    }
}

.banner-container.mt-14 {
    margin-top: 14px
}

@media screen and (min-width:920px) {
    .banner-container.mt-14 {
        margin-top: 0
    }
}

.banner-container .banner-image {
    width: inherit;
    height: 100%
}

.banner-container .banner-image svg {
    border-radius: 10px
}

@media screen and (max-width:920px) {
    .banner-container .banner-image svg {
        border-radius: 8px
    }
}

.banner-container .sport-image {
    height: 140px;
    margin-left: 5%
}

.banner-container .sport-image.inplay-image {
    height: 80px
}

.banner-container .eventType-name {
    font-family: var(--headers-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 82px;
    line-height: 98px;
    letter-spacing: .1em;
    color: #f8f8f8;
    margin-left: 12%;
    margin-right: 22%;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center
}

.banner-container .eventType-name .inplay-live-icon {
    height: 58px;
    width: 58px;
    margin-right: 21px;
    margin-top: -8px
}

@media screen and (max-width:720px) {
    .follow-us-on {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f1dcfe
    }

    .follow-us-on .follow-us-on-text {
        font-family: "Lato";
        font-size: 10px;
        font-weight: 700;
        line-height: 13.5px;
        letter-spacing: .17em;
        text-align: left;
        margin-top: 10px
    }

    .follow-us-on .social-media-icon {
        margin-right: 10px;
        margin-top: 10px
    }
}

.race-events-ctn .com-tab {
    min-width: 72px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: transparent;
    margin-right: 10px;
    min-height: 36px;
    opacity: 1;
    color: var(--ion-text-light);
    min-height: 30px;
    max-height: 30px;
    border: 1px solid #fff;
    border-radius: 20px
}

.race-events-ctn .MuiTabs-root {
    border-bottom: 1px solid #9e81b0;
    margin-bottom: 12px
}

.race-events-ctn .Mui-selected {
    background: var(--ion-button-color);
    color: #000;
    font-weight: 900
}

.race-events-ctn .team-name-cell {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media screen and (max-width:920px) {
    .race-events-ctn .team-name-cell {
        font-size: 12px;
        font-weight: 600
    }
}

.race-events-ctn .team-name-cell .team {
    min-width: 250px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
    padding-left: 12px
}

@media screen and (max-width:920px) {
    .race-events-ctn .team-name-cell .team {
        padding-left: 4px
    }
}

.race-events-ctn .all-markets-nav-link {
    text-decoration: none
}

.race-events-ctn .race-market-times {
    display: flex;
    justify-content: flex-end;
    text-decoration: none
}

.race-events-ctn .race-market-times .all-markets-nav-link {
    text-decoration: none
}

.race-events-ctn .race-market-times .market-time {
    background: #b3b3b3;
    margin: 0 4px;
    min-width: 52px;
    max-width: 52px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    font-size: 10px
}

.race-events-ctn .race-market-times .market-time.live {
    background-color: var(--ion-color-primary);
    color: #000
}

.race-events-ctn .table-ctn .MuiTableBody-root .MuiTableCell-body {
    min-height: 32px !important
}

@media (max-width:1120px) {
    .events-table-ctn .search-events-autocomplete .MuiFormControl-root {
        margin-top: 14px;
        margin-bottom: 16px
    }

    .events-table-ctn .search-events-autocomplete .MuiFormLabel-root {
        color: var(--ion-text-light);
        font-family: Lato;
        top: -2px;
        opacity: .6;
        font-size: 14px
    }

    .events-table-ctn .search-events-autocomplete .MuiInputBase-root .MuiFormControl-root,
    .events-table-ctn .search-events-autocomplete .MuiOutlinedInput-root {
        background: var(--ion-background-secondary) !important;
        color: #fff !important;
        border-radius: 7px
    }

    .events-table-ctn .search-events-autocomplete .MuiInputBase-root .MuiFormControl-root span,
    .events-table-ctn .search-events-autocomplete .MuiOutlinedInput-root span {
        color: var(--ion-text-light)
    }

    .events-table-ctn .search-events-autocomplete .MuiFormControl-root .MuiInputBase-root .MuiFormControl-root {
        background-color: var(--ion-background-secondary) !important
    }

    .events-table-ctn .eventType-accordion .eventType-header {
        font-size: 16px;
        line-height: 18px;
        padding: 7px 14px 7px 7px;
        height: 36px !important;
        border-radius: 10px 10px 0 0 !important
    }

    .events-table-ctn .eventType-accordion .eventType-header .sport-inplay-icon {
        height: 17px;
        width: 17px;
        margin-right: 8px
    }

    .events-table-ctn .events-table-content .MuiPaper-root {
        margin-top: 0;
        border-radius: 10px 10px 10px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table {
        overflow: hidden;
        border-style: hidden
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell-head {
        display: none
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell {
        border-radius: 20px;
        min-width: 100% !important;
        max-width: 100% !important
    }
}

@media screen and (max-width:1120px) and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell {
        border-radius: 10px !important
    }
}

@media (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .web-view {
        display: none
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view {
        display: block;
        min-width: 260px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view .event-details-ctn {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: flex-start
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view .event-details-ctn .timings {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view .event-details-ctn .timings span {
        opacity: .6
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view .event-details-ctn .timings .date-timing {
        font-weight: 600;
        opacity: 1;
        padding-right: 5px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view .event-name {
        white-space: break-spaces;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .mob-view .event-name .live-img {
        width: 16px;
        height: 16px;
        position: relative;
        top: 4px;
        margin-left: 10px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .team-name {
        white-space: nowrap;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        display: flex;
        justify-content: space-between
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name {
        font-family: "Lato";
        font-style: normal;
        color: var(--ion-text-color);
        max-width: 248px;
        margin-bottom: 3px;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name .enabled-markets {
        padding-top: 4px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name .enabled-markets .enabled-market-ctn {
        margin-left: 0;
        margin-right: 4px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name.mob-event-name {
        flex-direction: column;
        align-items: flex-start
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name.mob-event-name .event-name-and-link {
        display: flex;
        align-items: flex-start;
        color: var(--table-cell-text)
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name.mob-event-name .enabled-markets {
        padding-top: 4px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .event-name.mob-event-name .enabled-markets .enabled-market-ctn {
        margin-left: 0;
        margin-right: 4px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .teams-cell .all-markets-nav-link .schedule-time {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: var(--ion-text-color)
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .score-cell {
        display: none;
        max-width: 40px !important
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .score-cell .score {
        max-width: 100%;
        font-size: 10px;
        line-height: 14px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell {
        display: none;
        min-width: 120px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd {
        min-width: 40px;
        max-width: 50px;
        width: 48%;
        min-height: 36px;
        padding: 2px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd .price,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd .price {
        font-size: 10px;
        line-height: 15px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd .size,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd .size {
        font-size: 9px;
        line-height: 12px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd.disabled,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd.disabled {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .back-odd.disabled .lock-icon,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .odds-cell .odds-block .lay-odd.disabled .lock-icon {
        height: 16px;
        width: 16px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .all-markets-link-cell {
        max-width: 20px
    }
}

@media screen and (max-width:1120px) and (max-width:920px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .all-markets-link-cell {
        display: none
    }
}

@media (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root .all-markets-link-cell ion-img {
        height: 12px;
        width: 7px;
        margin-right: 0;
        margin-left: auto
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableRow-root {
        border: 0
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root {
        padding: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root {
        padding: 6px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root.race-markets {
        max-width: unset !important;
        background: var(--table-bg);
        border-radius: 0 0 12px 12px !important
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 6px;
        max-width: 100vw;
        position: relative;
        justify-content: flex-end
    }
}

@media screen and (max-width:1120px) and (min-width:560px) and (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row {
        max-width: 96vw
    }
}

@media (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row.new-odds-row .mob-odds-block .mob-exchange-btn-odd-row .mob-exch-odd-button {
        border-radius: 0 0 5px 5px;
        min-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row.new-odds-row .mob-odds-block .mob-exchange-btn-odd-row .mob-exch-odd-button.disabled {
        height: 20px;
        max-width: 58px;
        font-size: 10px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row.new-odds-row .mob-odds-block .mob-exchange-btn-odd-row .mob-exch-odd-button.disabled .lock-icon {
        margin-bottom: 0
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row.new-odds-row .mob-odds-block .mob-exchange-btn-odd-row .mob-exch-odd-button .mob-exch-odd-button-content {
        min-height: 32px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row.new-odds-row .mob-odds-block .mob-exchange-btn-odd-row .mob-exch-odd-button .mob-exch-odd-button-content .size {
        font-size: 9px;
        font-weight: 400;
        line-height: 10.5px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row.new-odds-row .mob-odds-block .mob-exchange-btn-odd-row .mob-exch-odd-button .mob-exch-odd-button-content .price {
        font-size: 12px;
        line-height: 13px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .exchange-odd-title {
        color: #fff;
        background-color: var(--accoridan-summary-background);
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 8px;
        line-height: 12px
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        font-size: 12px;
        margin: 0 0 0 8px
    }
}

@media screen and (max-width:1120px) and (max-width:395px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block {
        margin-left: 0
    }
}

@media (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .mob-exchange-btn-odd-row {
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

@media screen and (max-width:1120px) and (max-width:360px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .mob-exchange-btn-odd-row {
        grid-gap: 0 !important;
        gap: 0 !important
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .mob-exch-odd-view {
        font-weight: 400;
        width: 70%
    }
}

@media (max-width:1120px) {

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .back-odd,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .premium-odd {
        border-radius: 20px;
        background-color: var(--back-odd-background);
        height: 20px;
        width: 52px;
        font-size: 13px
    }
}

@media screen and (max-width:1120px) and (max-width:380px) {

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .back-odd,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .premium-odd {
        width: 50px
    }
}

@media (max-width:1120px) {

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .back-odd .price,
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .premium-odd .price {
        font-weight: 900
    }

    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .lay-odd {
        border-radius: 20px;
        background-color: var(--lay-odd-background);
        height: 20px;
        width: 52px;
        font-size: 13px
    }
}

@media screen and (max-width:1120px) and (max-width:380px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .lay-odd {
        width: 50px
    }
}

@media (max-width:1120px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .mob-odds-row .mob-odds-block .lay-odd .price {
        font-weight: 900
    }

    .events-table-ctn .bs-accordion {
        display: none
    }

    .events-table-ctn .footer-row {
        margin-top: 10px
    }

    .events-table-ctn .footer-row .pagination-btn {
        font-size: 11px;
        height: 24px
    }
}

.heading {
    height: 32px;
    background: var(--table-header-background);
    color: var(--ion-text-light);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 5px 5px 5px 12px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 18px;
    border: 2px solid var(--border-color)
}

@media only screen and (max-width:920px) {
    .heading {
        height: 32px;
        background: var(--table-header-background);
        color: var(--ion-text-light);
        margin-top: 5px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 5px 12px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700
    }
}

.extra-table .MuiTableCell-root {
    border-right: none !important;
    border-bottom: none !important
}

.handle-event-date {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content
}

@media screen and (max-width:720px) {
    .events-table-ctn .events-table-content .MuiPaper-root .events-table .MuiTableBody-root .MuiTableRow-root .mob-et-b-c {
        border-radius: 10px !important;
        background-color: var(--custom-table-body-row)
    }
}

.events-table-msg-text {
    color: #fff
}

.promotions-sidebar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 10px
}

@media screen and (max-width:920px) {
    .promotions-sidebar-container {
        position: relative;
        top: unset
    }
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px
}

.promotions-sidebar-ctn {
    border-radius: 10px;
    margin-top: 7px
}

.promotions-sidebar-ctn .promotions-header {
    background-color: var(--accoridan-summary-background);
    color: var(--accordian-headers-color);
    padding: 12px 0;
    text-align: center;
    border-radius: 10px 10px 0 0
}

.promotions-sidebar-ctn .promotions-banners {
    margin: auto;
    text-align: center;
    border-radius: 0 0 10px 10px
}

.promotions-sidebar-ctn .promotions-banners svg {
    border-radius: 8px
}

.promotions-sidebar-ctn .promotions-banners .banner-divider {
    margin: 0
}

.promotions-sidebar-ctn .promotions-banners .banner {
    padding-top: 0;
    display: block;
    margin-top: 3px
}

.promotions-sidebar-ctn .promotions-banners .banner video {
    border-radius: 10px;
    width: 100%
}

.promotions-ctn .promotions-banners {
    display: flex;
    grid-gap: 7.46px;
    gap: 7.46px
}

.promotions-ctn .promotions-banners img {
    height: 80px
}

.trending-games-ctn {
    background: var(--container-bg);
    padding: 6px;
    border-radius: 10px
}

.trending-games-ctn .trending-game-heading {
    background: var(--head-bg);
    font-size: 13px;
    font-weight: 600;
    line-height: 13.52px;
    color: var(--head-text-1);
    border: 1px solid var(--head-border);
    padding: 11px 9px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.trending-games-ctn .trending-game-heading .see-more {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: var(--head-text-2);
    display: flex;
    align-items: center;
    text-decoration: none
}

.trending-games-ctn .trending-game-heading .see-more .MuiSvgIcon-root {
    width: 10px;
    height: 10px
}

.trending-games-ctn .games-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 6px;
    gap: 6px
}

.trending-games-ctn .games-container .trending-game-card {
    cursor: pointer
}

.trending-games-ctn .games-container .trending-game-card img {
    border-radius: 4px
}

@media screen and (max-width:920px) {
    .trending-games-ctn .games-container .trending-game-card img {
        height: 122px;
        width: 100%
    }
}

@media screen and (max-width:920px) {
    .trending-games-ctn {
        padding: 8px 0 0;
        margin-bottom: 4px
    }

    .trending-games-ctn .trending-game-heading {
        padding: 8px 12px
    }

    .trending-games-ctn .games-container {
        grid-template-columns: auto auto auto auto
    }
}

/*# sourceMappingURL=37.5b36f5d9.chunk.css.map */