.odds-terms-condi-ctn {
  padding: 0 !important;
}
.odds-terms-condi-ctn .MuiAccordion-root.Mui-expanded {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 16px;
}
.odds-terms-condi-ctn .conditions-paragraph {
  padding: 8px 0;
  border-bottom: 0.5px solid hsla(0, 0%, 100%, 0.4);
  color: #fff;
  box-shadow: none;
  font-size: 13px;
  font-weight: 400;
  margin: 0 4px;
}
.odds-terms-condi-ctn .conditions-paragraph:last-child {
  border-bottom: none;
  padding-bottom: 0 !important;
}
.odds-terms-condi-ctn .terms-policy {
  padding-top: 0 !important;
  padding-bottom: 12px !important;
  margin-top: 2px;
}
.odds-terms-condi-ctn .sub-header {
  color: var(--ion-button-color);
  font-size: 18px;
  font-weight: 600;
  margin-top: 7px;
}
.odds-terms-condi-ctn .MuiAccordion-root .MuiAccordionDetails-root {
  border: none !important;
  display: flex;
  flex-direction: column;
}
.odds-terms-condi-ctn .MuiAccordion-root .MuiAccordionSummary-root {
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-radius: 20px !important;
  background: var(--table-bg) !important;
  width: 100%;
}
.odds-terms-condi-ctn
  .MuiAccordion-root
  .MuiAccordionSummary-root.Mui-expanded {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.odds-terms-condi-ctn
  .MuiAccordion-root
  .MuiAccordionSummary-root
  .MuiIconButton-root {
  position: absolute;
  left: 5px !important;
  background: var(--accordian-arrow-bg);
  padding: 3px;
  width: 27px;
  height: 27px;
}
.odds-terms-condi-ctn
  .MuiAccordion-root
  .MuiAccordionSummary-root
  .MuiIconButton-root
  .MuiSvgIcon-root {
  color: var(--accordian-arrow-text);
}
.odds-terms-condi-ctn
  .MuiAccordion-root
  .MuiAccordionSummary-root
  .MuiTypography-root {
  margin-left: 26px;
  font-size: 13px !important;
  color: #fff;
}
.odds-terms-condi-ctn
  .MuiAccordion-root
  .MuiAccordionSummary-root
  .MuiAccordionSummary-content {
  width: 20%;
}
@media screen and (max-width: 720px) {
  .odds-terms-condi-ctn {
    padding: 0;
  }
}
