.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  display: flex;
  justify-content: center;
}

.stake-settings {
  margin: 12px 24px;
  padding: 16px 12px;
  background: var(--table-container);
  border-radius: 10px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 920px) {
  .stake-settings {
    background: transparent;
    margin: 0 8px;
    padding: 0 0 8px;
  }
}

@media screen and (max-width: 720px) {
  .stake-settings .report-header .report-img-title .report-img-div {
    margin-right: 8px;
  }
}

@media screen and (max-width: 720px) {
  .stake-settings .report-header .report-img-title .report-title {
    margin-left: 0;
  }
}

.stake-settings .report-header .report-img-title .tab-btn {
  font-size: 12px;
  font-weight: 600;
}

.stake-settings .report-header .report-filters {
  justify-content: flex-start;
  color: #fff;
}

.stake-settings .report-header .report-filters .text {
  padding: 9px 32px;
  font-family: var(--headers-font-family);
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

@media screen and (max-width: 720px) {
  .stake-settings .report-header .report-filters .text {
    padding: 5px 36px;
  }
}

@media screen and (max-width: 720px) {
  .stake-settings .report-header .report-filters {
    padding: 0;
  }
}

.stake-settings .report-header .tab-btns .black-font {
  color: #000;
}

.stake-settings .stake-settings-ctn {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 12px;
  grid-gap: 12px 11px;
  gap: 12px 11px;
}

@media screen and (max-width: 1420px) {
  .stake-settings .stake-settings-ctn {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1120px) {
  .stake-settings .stake-settings-ctn {
    grid-template-columns: auto;
    grid-gap: 8px;
    gap: 8px;
  }
}

.stake-settings .stake-settings-ctn .indv-stake-btn {
  min-width: 320px;
  background-color: var(--table-bg);
  border-radius: 15px;
}

@media screen and (max-width: 1450px) {
  .stake-settings .stake-settings-ctn .indv-stake-btn {
    min-width: 48%;
  }
}

@media screen and (max-width: 970px) {
  .stake-settings .stake-settings-ctn .indv-stake-btn {
    min-width: 100%;
    border-radius: 12px;
  }
}

.stake-settings .stake-settings-ctn .indv-stake-btn .label-number,
.stake-settings .stake-settings-ctn .indv-stake-btn .label-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

@media screen and (max-width: 370px) {
  .stake-settings .stake-settings-ctn .indv-stake-btn .label-number,
  .stake-settings .stake-settings-ctn .indv-stake-btn .label-text {
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
  }
}

.stake-settings .stake-settings-ctn .indv-stake-btn .label-text {
  margin-top: 16px;
}

.stake-settings .stake-settings-ctn .indv-stake-btn .label-number {
  margin-bottom: 16px;
  margin-top: 8px;
}

.stake-settings
  .stake-settings-ctn
  .indv-stake-btn
  .label-number
  .add-stake-input {
  display: flex;
}

.stake-settings .stake-settings-ctn .indv-stake-btn .label-text-sub {
  color: var(--custom-table-body-color);
}

.stake-settings .stake-settings-ctn .indv-stake-btn .bt-input {
  border-radius: 20px;
  height: 25px;
  border: none;
  outline: none;
  padding: 20px 12px;
  width: 50%;
}

@media screen and (max-width: 370px) {
  .stake-settings .stake-settings-ctn .indv-stake-btn .bt-input {
    width: 100%;
  }
}

.stake-settings .stake-settings-ctn .indv-stake-btn .width {
  width: 100px;
}

.stake-settings .stake-settings-ctn .indv-stake-btn .minus-div,
.stake-settings .stake-settings-ctn .indv-stake-btn .plus-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stake-settings .stake-settings-ctn .indv-stake-btn .plus-div {
  left: 5px;
}

.stake-settings .stake-settings-ctn .indv-stake-btn .minus-div {
  left: 155px;
}

.stake-settings .stake-settings-ctn .indv-stake-btn .support-add-stake-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 40px;
  width: 50%;
}

@media screen and (max-width: 370px) {
  .stake-settings .stake-settings-ctn .indv-stake-btn .support-add-stake-input {
    width: 100%;
  }
}

.stake-settings
  .stake-settings-ctn
  .indv-stake-btn
  .support-add-stake-input
  .add-stake-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  width: 95%;
  position: relative;
}

@media screen and (min-width: 720px) {
  .reports-back-ctn {
    display: none !important;
  }
}

.reports-back-ctn {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin: 10px 0;
}

.reports-back-ctn .back-icon-mui {
  width: 0.6em;
  height: 0.6em;
}

.reports-back-ctn .back-text {
  font-family: var(--headers-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.2px;
  text-align: center;
}

/*# sourceMappingURL=63.4d85681a.chunk.css.map */
