.hydrated {
  visibility: inherit;
}
.MuiTableRow-root {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
.exch-odd-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group-table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  border: 1px solid var(--table-head-cell-border) !important;
  max-height: 30px;
  border-radius: 100px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.group-table-head-mobile {
  display: none;
  height: 0px;
}

.enabled-markets {
  right: -200px;
}

@media (max-width: 1120px) {
  .group-table-head {
    display: none !important;
  }
  .group-table-head-mobile {
    display: block !important;
  }
  .enabled-markets {
    right: 10px;
  }
}

/* App pop up */
.android-popup {
  width: 100%;
  font-family: "Inter";
  background: #000c24;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.rect-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 141px;
  height: 64px;
  flex-shrink: 0;
  background: linear-gradient(
    98deg,
    rgba(8, 248, 255, 0.7) 0.98%,
    rgba(59, 164, 253, 0.7) 51.52%,
    rgba(132, 54, 250, 0.7) 100%
  );
  filter: blur(90px);
  z-index: 0;
}

.rect-2 {
  position: absolute;
  width: 164px;
  height: 64px;
  right: 0;
  top: 0;
  flex-shrink: 0;
  background: linear-gradient(
    98deg,
    rgba(8, 248, 255, 0.7) 0.98%,
    rgba(59, 164, 253, 0.7) 51.52%,
    rgba(132, 54, 250, 0.7) 100%
  );
  filter: blur(90px);
  z-index: 0;
}

.android-card {
  font-family: "Inter";
  display: flex;
  width: 282px;
  align-items: center;
  gap: 7px;
  z-index: 3;
}

.cancel-icon {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #9ca3af;
}

.side-logo {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-logo img {
  width: 1.5rem;
  height: 1.5rem;
}

.app-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.app-text h2 {
  color: #fff;
  font-family: "Inter";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0;
}

.app-text span {
  color: #6b7280;
  font-family: "Inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0;
}
.app-text .star {
  display: flex;
  align-items: center;
  gap: 2px;
}

.install-btn {
  display: flex;
  height: 28px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #0d4389;
}

.install-btn button {
  color: #fff;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.3px;
  z-index: 10;
}

/* App pop up */

.place-btn-disable {
  background-color: #132f30;
  padding: 10px 30px;
  color: var(--ion--text-light);
  border-radius: 100px;
  font-size: 13px;
  font-weight: 600;
  line-height: 17.55px;
  text-align: center;
  cursor: not-allowed;
}

.event-tab {
  padding: 0px 10px;
}
